openapi: 3.1.0
info:
  contact:
    email: api-support@tryarchitect.com
    name: Architect
    url: https://tryarchitect.com
  description: The Customer API provides a RESTful API for external systems to integrate with the Architect platform.
  title: Architect - Customer API
  version: 0.0.1
servers:
  - description: Production environment
    url: https://api.tryarchitect.com
  - description: Beta environment
    url: https://api.beta.tryarchitect.com
  - description: Local environment
    url: http://localhost:25001
security:
  - apiKey: []
components:
  callbacks: {}
  examples:
    CreatePageGroupRequestExample:
      description: Example values extracted from schema defaults
      summary: CreatePageGroupRequest example
      value:
        actions: []
    CreateProspectLogRequestExample:
      description: Example values extracted from schema defaults
      summary: CreateProspectLogRequest example
      value:
        type: webhook
    CreateWebhookSubscriptionRequestExample:
      description: Example values extracted from schema defaults
      summary: CreateWebhookSubscriptionRequest example
      value:
        active: true
  headers: {}
  links: {}
  parameters:
    Cursor:
      description: Opaque cursor for pagination - use nextCursor from previous response
      in: query
      name: cursor
      required: false
      schema:
        type: string
    CursorQuery:
      in: query
      name: cursor
      description: cursor parameter
      required: false
      schema:
        type: string
    Limit:
      description: Number of items to return (1-100, default 20)
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: number
    LimitQuery:
      in: query
      name: limit
      description: Number of page groups to return (1-100, default 20)
      required: false
      schema:
        type: number
    PageGroupIdPath:
      in: path
      name: page_group_id
      description: page_group_id parameter
      required: true
      schema:
        type: string
    PageIdPath:
      in: path
      name: page_id
      description: page_id parameter
      required: true
      schema:
        type: string
    SubscriptionIdPath:
      in: path
      name: subscription_id
      description: The webhook subscription ID
      required: true
      schema:
        type: string
  requestBodies: {}
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Bad request - Invalid query parameters
    CommonErrors:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Error response - covers authentication, authorization, rate limiting, and server errors
    GetWebhookSubscriptionResponseResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Resource not found
  schemas:
    ArraySchema:
      type: array
      items:
        $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    CreatePageGroupRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: Display name for the page group.
        brandId:
          type: string
          minLength: 1
          pattern: ^brand_[a-z0-9]{26}$
        pageContext:
          type: string
          minLength: 1
          description: Context used to generate pages in this group.
        pageGroupType:
          type: string
          enum:
            - abm
            - seo
            - ads
            - call_followup
            - custom
          description: Page group type.
        actions:
          default: []
          description: Optional list of actions (buttons) for the page group.
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  buttonTitle:
                    type: string
                    minLength: 1
                    description: Label shown on the action button.
                  actionType:
                    type: string
                    const: open-url
                  url:
                    $ref: "#/components/schemas/Url"
                required:
                  - buttonTitle
                  - actionType
                  - url
                additionalProperties: false
              - type: object
                properties:
                  buttonTitle:
                    type: string
                    minLength: 1
                    description: Label shown on the action button.
                  actionType:
                    type: string
                    const: form
                  formId:
                    type: string
                    pattern: ^form_
                    description: ID of the form to display.
                  formInstructions:
                    description: Optional instructions for the form.
                    type: string
                required:
                  - buttonTitle
                  - actionType
                  - formId
                additionalProperties: false
        metadata:
          type: object
          properties:
            title:
              type: string
              maxLength: 70
            description:
              type: string
              maxLength: 160
            keywords:
              type: array
              items:
                type: string
            author:
              type: string
              maxLength: 100
            robots:
              type: array
              items:
                type: string
                enum:
                  - index
                  - noindex
                  - follow
                  - nofollow
                  - noarchive
                  - nosnippet
                  - noimageindex
                  - none
            canonicalUrl:
              $ref: "#/components/schemas/Url"
            ogTitle:
              type: string
              maxLength: 60
            ogDescription:
              type: string
              maxLength: 110
            ogType:
              type: string
              enum:
                - website
                - article
                - product
                - profile
            ogImage:
              $ref: "#/components/schemas/OgImage"
            ogImageAlt:
              type: string
              maxLength: 420
            ogSiteName:
              type: string
              maxLength: 100
            ogUrl:
              $ref: "#/components/schemas/Url"
            twitterCard:
              type: string
              enum:
                - summary
                - summary_large_image
                - app
                - player
            twitterTitle:
              type: string
              maxLength: 70
            twitterDescription:
              type: string
              maxLength: 200
            twitterImage:
              $ref: "#/components/schemas/OgImage"
            twitterImageAlt:
              type: string
              maxLength: 420
            twitterSite:
              $ref: "#/components/schemas/TwitterSite"
            twitterCreator:
              $ref: "#/components/schemas/TwitterSite"
            themeColor:
              type: string
              pattern: ^#[0-9A-Fa-f]{6}$
          additionalProperties: false
      required:
        - name
        - pageContext
        - pageGroupType
        - actions
      additionalProperties: false
    CreatePageRequest:
      type: object
      properties:
        supplementaryContext:
          type: string
        customName:
          type: string
        pageLinkPath:
          type: string
        prospectId:
          type: string
        prospectEmail:
          $ref: "#/components/schemas/ProspectEmail"
        tenantDomainId:
          type: string
      additionalProperties: false
    CreateProspectLogRequest:
      type: object
      properties:
        prospectId:
          $ref: "#/components/schemas/ProspectId"
        email:
          type: string
        source:
          type: string
          minLength: 1
          maxLength: 100
          description: Identifier for the upstream system sending the prospect activity
        type:
          default: webhook
          description: Prospect activity type. Defaults to 'webhook' when omitted
          type: string
          minLength: 1
          maxLength: 100
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 255
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - source
        - type
        - payload
      additionalProperties: false
    CreateProspectRequest:
      type: object
      properties:
        email:
          $ref: "#/components/schemas/ProspectEmail"
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Prospect display name.
        domain:
          type: string
          minLength: 1
          description: Company domain (e.g. acme.com).
      required:
        - email
        - name
        - domain
      additionalProperties: false
    CreatePublishRequest:
      type: object
      properties:
        tenantDomainId:
          type: string
      additionalProperties: false
    CreateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
        active:
          default: true
          description: Whether the subscription should be active
          examples:
            - true
          type: boolean
      required:
        - url
        - events
        - active
      additionalProperties: false
    CreatedAt:
      type: string
      format: date-time
      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
    DeleteWebhookSubscriptionResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the deletion was successful
      required:
        - success
      additionalProperties: false
    Error:
      properties:
        code:
          enum:
            - UNAUTHORIZED
            - FORBIDDEN
            - NOT_FOUND
            - VALIDATION_ERROR
            - CONFLICT
            - RATE_LIMITED
            - INTERNAL
          examples:
            - VALIDATION_ERROR
            - UNAUTHORIZED
            - NOT_FOUND
          type: string
        details:
          examples:
            - field: name
              reason: Name is required
        message:
          examples:
            - Validation failed
            - Authentication required
            - Resource not found
            - Rate limit exceeded
          type: string
        requestId:
          examples:
            - req_01j5k9m7n8p9q2r3s4t5v6w7x8
          type: string
      required:
        - code
        - message
        - requestId
      type: object
    GetLink:
      type: object
      properties:
        url:
          type: string
          description: Full shareable URL for the page
        domain:
          type: string
          description: Domain used in the URL
        path:
          type: string
          description: Path portion of the URL
      required:
        - url
        - domain
        - path
      additionalProperties: false
    GetPage:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              createdAt:
                type: string
              pageGroupId:
                type: string
              pageId:
                type: string
              tenantId:
                type: string
              updatedAt:
                type: string
              effectiveName:
                type: string
              customName:
                anyOf:
                  - type: string
                  - type: "null"
              computedName:
                type: string
            required:
              - createdAt
              - pageGroupId
              - pageId
              - tenantId
              - updatedAt
              - effectiveName
              - customName
              - computedName
            additionalProperties: false
        nextCursor:
          type: string
      required:
        - hasMore
        - items
      additionalProperties: false
    GetPageGroup:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              actions:
                type: array
                items: {}
              brandId:
                type: string
              createdAt:
                $ref: "#/components/schemas/CreatedAt"
              deletedAt:
                "0":
                  $ref: "#/components/schemas/CreatedAt"
                anyOf:
                  - $ref: "#/components/schemas/CreatedAt"
                  - type: "null"
              footerLinks:
                type: array
                items: {}
              headerActionId:
                type: string
              name:
                type: string
              pageContext:
                type: string
              pageGroupId:
                type: string
              pagesCount:
                type: number
              scripts:
                type: array
                items: {}
              status:
                type: string
              tenantId:
                type: string
              title:
                type: string
              updatedAt:
                $ref: "#/components/schemas/CreatedAt"
            required:
              - actions
              - brandId
              - createdAt
              - deletedAt
              - footerLinks
              - name
              - pageContext
              - pageGroupId
              - pagesCount
              - scripts
              - status
              - tenantId
              - title
              - updatedAt
            additionalProperties: false
        limit:
          type: number
        nextCursor:
          type: string
      required:
        - hasMore
        - items
        - limit
      additionalProperties: false
    GetPageGroupResponse:
      type: object
      properties:
        brandId:
          type: string
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        actions:
          type: array
          items: {}
        deletedAt:
          "0":
            $ref: "#/components/schemas/CreatedAt"
          anyOf:
            - $ref: "#/components/schemas/CreatedAt"
            - type: "null"
        footerLinks:
          type: array
          items: {}
        headerActionId:
          type: string
        metadata: {}
        name:
          type: string
        pageContext:
          type: string
        pageId:
          type: string
        scripts:
          type: array
          items: {}
        tenantId:
          type: string
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
        variantsCount:
          type: number
      required:
        - brandId
        - createdAt
        - actions
        - deletedAt
        - footerLinks
        - name
        - pageContext
        - pageId
        - scripts
        - tenantId
        - updatedAt
        - variantsCount
      additionalProperties: false
    GetPageVersionResponse:
      type: object
      properties:
        createdAt:
          type: string
        id:
          type: string
        status:
          type: string
          enum:
            - pending
            - queued
            - processing
            - draft
            - published
            - archived
            - cancelled
        versionNumber:
          type: number
      required:
        - createdAt
        - id
        - status
        - versionNumber
      additionalProperties: false
    GetPageWithVersionResponse:
      type: object
      properties:
        pageId:
          type: string
          description: The page ID
        pageGroupId:
          type: string
          description: The parent page group ID
        tenantId:
          type: string
          description: The tenant ID
        prospectId:
          anyOf:
            - type: string
            - type: "null"
        createdAt:
          type: string
          description: ISO 8601 creation timestamp
        effectiveName:
          type: string
          description: The effective name (custom or computed)
        customName:
          anyOf:
            - type: string
            - type: "null"
        computedName:
          type: string
          description: AI-computed name
        supplementaryContext:
          anyOf:
            - type: string
            - type: "null"
        publishedVersion:
          anyOf:
            - type: object
              properties:
                versionId:
                  type: string
                versionNumber:
                  type: number
                publishedAt:
                  anyOf:
                    - type: string
                    - type: "null"
              required:
                - versionId
                - versionNumber
                - publishedAt
              additionalProperties: false
            - type: "null"
      required:
        - pageId
        - pageGroupId
        - tenantId
        - prospectId
        - createdAt
        - effectiveName
        - customName
        - computedName
        - supplementaryContext
        - publishedVersion
      additionalProperties: false
    GetVersion:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/GetPageVersionResponse"
        page:
          type: object
          properties:
            hasMore:
              type: boolean
            totalCount:
              type: number
          required:
            - hasMore
            - totalCount
          additionalProperties: false
      required:
        - items
        - page
      additionalProperties: false
    GetWebhookSubscriptionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique subscription identifier
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
            - type: "null"
        active:
          type: boolean
          description: Whether the subscription is active
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
      required:
        - id
        - url
        - events
        - active
        - createdAt
        - updatedAt
      additionalProperties: false
    OgImage:
      type: object
      properties:
        type:
          type: string
          const: file
        fileId:
          type: string
      required:
        - type
        - fileId
      additionalProperties: false
    PostPage:
      type: object
      properties:
        pageId:
          type: string
          description: The created page ID (external pageVariantId)
        pageGroupId:
          type: string
          description: The parent page group ID
        tenantId:
          type: string
          description: The tenant ID
        prospectId:
          anyOf:
            - type: string
            - type: "null"
        versionId:
          type: string
          description: The created page version ID
        createdAt:
          type: string
          description: ISO 8601 creation timestamp
        pageLinkPath:
          anyOf:
            - type: string
            - type: "null"
        status:
          type: string
          enum:
            - pending
            - queued
            - processing
            - draft
            - published
            - archived
            - cancelled
          description: Current page version status after creation
      required:
        - pageId
        - pageGroupId
        - tenantId
        - prospectId
        - versionId
        - createdAt
        - pageLinkPath
        - status
      additionalProperties: false
    PostPageGroup:
      type: object
      properties:
        pageGroupId:
          type: string
          description: The created page group ID.
        tenantId:
          type: string
          description: The tenant ID.
        brandId:
          type: string
          description: The brand ID.
        name:
          type: string
          description: The page group name.
        pageContext:
          type: string
          description: The page group context.
        pageGroupType:
          type: string
          enum:
            - abm
            - seo
            - ads
            - call_followup
            - custom
          description: The page group type.
        createdAt:
          type: string
          description: ISO 8601 creation timestamp.
      required:
        - pageGroupId
        - tenantId
        - brandId
        - name
        - pageContext
        - pageGroupType
        - createdAt
      additionalProperties: false
    PostProspect:
      type: object
      properties:
        prospectId:
          type: string
          description: The created prospect ID.
        email:
          type: string
          description: The prospect email.
        name:
          type: string
          description: The prospect name.
        domain:
          type: string
          description: The prospect domain.
        createdAt:
          type: string
          description: ISO 8601 creation timestamp.
      required:
        - prospectId
        - email
        - name
        - domain
        - createdAt
      additionalProperties: false
    PostProspectLog:
      type: object
      properties:
        prospectId:
          $ref: "#/components/schemas/ProspectId"
        prospectLogId:
          type: string
          minLength: 1
          pattern: ^prospectlog_[a-z0-9]{26}$
          description: The created prospect log entry ID
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        createdProspect:
          type: boolean
          description: Whether the request auto-created a prospect before writing the log
        source:
          type: string
          minLength: 1
          maxLength: 100
          description: The stored prospect log source
        type:
          type: string
          minLength: 1
          maxLength: 100
          description: The stored prospect log type
      required:
        - prospectId
        - prospectLogId
        - createdAt
        - createdProspect
        - source
        - type
      additionalProperties: false
    PostPublish:
      type: object
      properties:
        pageId:
          type: string
          description: The published page ID.
        pageGroupId:
          type: string
          description: The parent page group ID.
        tenantId:
          type: string
          description: The tenant ID.
        prospectId:
          anyOf:
            - type: string
            - type: "null"
        versionId:
          type: string
          description: The published page version ID.
        versionNumber:
          type: number
          description: The published version number.
        publishedAt:
          anyOf:
            - type: string
            - type: "null"
        pageLink:
          type: object
          properties:
            url:
              type: string
              description: Full shareable URL for the page
            domain:
              type: string
              description: Domain used in the URL
            path:
              type: string
              description: Path portion of the URL
          required:
            - url
            - domain
            - path
          additionalProperties: false
        status:
          type: string
          const: published
      required:
        - pageId
        - pageGroupId
        - tenantId
        - prospectId
        - versionId
        - versionNumber
        - publishedAt
        - pageLink
        - status
      additionalProperties: false
    PostWebhookSubscription:
      type: object
      properties:
        id:
          type: string
          description: Unique subscription identifier
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
            - type: "null"
        active:
          type: boolean
          description: Whether the subscription is active
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
        signingSecret:
          type: string
          description: The signing secret for the subscription
      required:
        - id
        - url
        - events
        - active
        - createdAt
        - updatedAt
        - signingSecret
      additionalProperties: false
    ProspectEmail:
      type: string
      format: email
      pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
    ProspectId:
      type: string
      minLength: 1
      pattern: ^prospect_[a-z0-9]{26}$
    TwitterSite:
      type: string
      pattern: ^@[A-Za-z0-9_]{1,15}$
    UpdateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
        active:
          type: boolean
      additionalProperties: false
    Url:
      type: string
      format: uri
      description: URL to open when the button is clicked.
  securitySchemes:
    apiKey:
      description: API key authentication for the External Actor Gateway
      in: header
      name: x-api-key
      type: apiKey
paths:
  /v0/page_groups:
    get:
      description: Retrieve a list of page groups for the authenticated tenant with optional filtering and pagination
      operationId: listPageGroups
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageGroup"
      summary: List page groups
      tags:
        - Page Groups
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - in: query
          name: status
          description: status parameter
          required: false
          schema:
            type: string
    post:
      description: Create a page group for the authenticated tenant
      operationId: createPageGroup
      responses:
        "201":
          description: PageGroup created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPageGroup"
      summary: Create page group
      tags:
        - Page Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePageGroupRequest"
        required: true
  /v0/page_groups/{page_group_id}:
    get:
      description: Retrieve a specific page group by ID.
      operationId: getPageGroup
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageGroupResponse"
      summary: Get page group by ID
      tags:
        - Page Groups
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
  /v0/page_groups/{page_group_id}/pages:
    get:
      description: Retrieve a paginated list of pages within the specified page group
      operationId: listPagesInGroup
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPage"
      summary: List pages in a page group
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/PageGroupIdPath"
    post:
      description: Create a new page in the page group
      operationId: createPageInGroup
      responses:
        "201":
          description: PageInGroup created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPage"
      summary: Create page
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePageRequest"
        required: true
  /v0/page_groups/{page_group_id}/pages/{page_id}:
    get:
      description: Retrieve page details including published version information
      operationId: getPageWithVersion
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageWithVersionResponse"
      summary: Get page with published version
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/page_groups/{page_group_id}/pages/{page_id}/link:
    get:
      description: Generate shareable link for a page. Fails if page version not yet published.
      operationId: getPageLink
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLink"
      summary: Get page link
      tags:
        - Pages
      parameters:
        - in: query
          name: tenantDomainId
          description: Optional tenant domain ID for custom domain. If not provided, uses fallback subdomain.
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/page_groups/{page_group_id}/pages/{page_id}/publish:
    post:
      description: Publish the latest ready version for a page and return the full page link
      operationId: publishPage
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPublish"
      summary: Publish page
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePublishRequest"
        required: true
  /v0/page_groups/{page_group_id}/pages/{page_id}/versions:
    get:
      description: Retrieve a list of versions for the specified page
      operationId: listPageVersions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVersion"
      summary: List page versions
      tags:
        - Page Versions
      parameters:
        - in: query
          name: include
          description: Comma-separated list of additional fields to include (archived)
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/LimitQuery"
        - in: query
          name: page
          description: Page number for pagination (default 1)
          required: false
          schema:
            type: number
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/page_groups/{page_group_id}/pages/{page_id}/versions/{version_id}:
    get:
      description: Retrieve a specific version of a page with optional additional fields
      operationId: getPageVersion
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageVersionResponse"
      summary: Get page version
      tags:
        - Page Versions
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
        - in: path
          name: version_id
          description: version_id parameter
          required: true
          schema:
            type: string
  /v0/prospect_logs:
    post:
      description: Create a prospect log entry using the authenticated API key's tenant context
      operationId: createProspectLog
      responses:
        "201":
          description: ProspectLog created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostProspectLog"
      summary: Create prospect log entry
      tags:
        - Prospect Logs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProspectLogRequest"
        required: true
  /v0/prospects:
    post:
      description: Create a new prospect for the authenticated tenant
      operationId: createProspect
      responses:
        "201":
          description: Prospect created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostProspect"
      summary: Create prospect
      tags:
        - Prospects
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProspectRequest"
        required: true
  /v0/webhook_subscriptions:
    get:
      description: List webhook subscriptions for the authenticated tenant
      operationId: listWebhookSubscriptions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArraySchema"
      summary: List webhook subscriptions
      tags:
        - Webhook Subscriptions
    post:
      description: Create a webhook subscription
      operationId: createWebhookSubscription
      responses:
        "201":
          description: WebhookSubscription created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostWebhookSubscription"
      summary: Create webhook subscription
      tags:
        - Webhook Subscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookSubscriptionRequest"
        required: true
  /v0/webhook_subscriptions/{subscription_id}:
    get:
      description: Get a webhook subscription by ID
      operationId: getWebhookSubscription
      responses:
        "200":
          $ref: "#/components/responses/GetWebhookSubscriptionResponseResponse"
      summary: Get webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
    patch:
      description: Update a webhook subscription by ID
      operationId: updateWebhookSubscription
      responses:
        "200":
          $ref: "#/components/responses/GetWebhookSubscriptionResponseResponse"
      summary: Update webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookSubscriptionRequest"
        required: true
    delete:
      description: Delete a webhook subscription by ID
      operationId: deleteWebhookSubscription
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteWebhookSubscriptionResponse"
      summary: Delete webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
tags:
  - name: Page Groups
    description: Page group management operations
  - name: Pages
    description: Page management operations
  - name: Page Versions
    description: Page version management operations
  - name: Prospects
    description: Prospect management operations
  - name: Prospect Logs
    description: Prospect log ingestion operations
  - name: Webhook Subscriptions
    description: Webhook subscription management operations
