openapi: 3.1.0
info:
  contact:
    email: api-support@tryarchitect.com
    name: Architect
    url: https://tryarchitect.com
  description: The Customer API provides a RESTful API for external systems to integrate with the Architect platform.
  title: Architect - Customer API
  version: 0.0.1
servers:
  - description: Production environment
    url: https://api.tryarchitect.com
  - description: Beta environment
    url: https://api.beta.tryarchitect.com
  - description: Local environment
    url: http://localhost:25001
security:
  - apiKey: []
components:
  callbacks: {}
  examples:
    CreatePersonLogRequestExample:
      description: Example values extracted from schema defaults
      summary: CreatePersonLogRequest example
      value:
        type: webhook
    CreateWebhookSubscriptionRequestExample:
      description: Example values extracted from schema defaults
      summary: CreateWebhookSubscriptionRequest example
      value:
        active: true
  headers: {}
  links: {}
  parameters:
    AudienceIdPath:
      in: path
      name: audience_id
      description: audience_id parameter
      required: true
      schema:
        type: string
    Cursor:
      description: Opaque cursor for pagination - use nextCursor from previous response
      in: query
      name: cursor
      required: false
      schema:
        type: string
    CursorQuery:
      in: query
      name: cursor
      description: cursor parameter
      required: false
      schema:
        type: string
    Limit:
      description: Number of items to return (1-100, default 20)
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: number
    LimitQuery:
      in: query
      name: limit
      description: Number of pages to return (1-100, default 20)
      required: false
      schema:
        type: number
    PageIdPath:
      in: path
      name: page_id
      description: page_id parameter
      required: true
      schema:
        type: string
    SubscriptionIdPath:
      in: path
      name: subscription_id
      description: The webhook subscription ID
      required: true
      schema:
        type: string
  requestBodies: {}
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Bad request - Invalid query parameters
    CommonErrors:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Error response - covers authentication, authorization, rate limiting, and server errors
    GetWebhookSubscriptionResponseResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Resource not found
  schemas:
    ArraySchema:
      type: array
      items:
        $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    CreateAudienceRequest:
      type: object
      properties:
        supplementaryContext:
          type: string
        customName:
          type: string
      additionalProperties: false
    CreatePersonLogRequest:
      type: object
      properties:
        personId:
          $ref: "#/components/schemas/PersonId"
        email:
          type: string
        phoneNumber:
          type: string
          pattern: ^\+[1-9]\d{1,14}$
        linkedinProfileUrl:
          type: string
          minLength: 1
        source:
          type: string
          minLength: 1
          maxLength: 100
          description: Identifier for the upstream system sending the person activity
        type:
          default: webhook
          description: Person activity type. Defaults to 'webhook' when omitted
          type: string
          minLength: 1
          maxLength: 100
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 255
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - source
        - type
        - payload
      additionalProperties: false
    CreateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
        active:
          default: true
          description: Whether the subscription should be active
          examples:
            - true
          type: boolean
      required:
        - url
        - events
        - active
      additionalProperties: false
    CreatedAt:
      type: string
      format: date-time
      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
    DeleteWebhookSubscriptionResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the deletion was successful
      required:
        - success
      additionalProperties: false
    Error:
      properties:
        code:
          enum:
            - UNAUTHORIZED
            - FORBIDDEN
            - NOT_FOUND
            - VALIDATION_ERROR
            - CONFLICT
            - RATE_LIMITED
            - INTERNAL
          examples:
            - VALIDATION_ERROR
            - UNAUTHORIZED
            - NOT_FOUND
          type: string
        details:
          examples:
            - field: name
              reason: Name is required
        message:
          examples:
            - Validation failed
            - Authentication required
            - Resource not found
            - Rate limit exceeded
          type: string
        requestId:
          examples:
            - req_01j5k9m7n8p9q2r3s4t5v6w7x8
          type: string
      required:
        - code
        - message
        - requestId
      type: object
    GetAudience:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              createdAt:
                type: string
              pageId:
                type: string
              audienceId:
                type: string
              tenantId:
                type: string
              updatedAt:
                type: string
              effectiveName:
                type: string
              customName:
                anyOf:
                  - type: string
                  - type: "null"
              computedName:
                type: string
            required:
              - createdAt
              - pageId
              - audienceId
              - tenantId
              - updatedAt
              - effectiveName
              - customName
              - computedName
            additionalProperties: false
        nextCursor:
          type: string
      required:
        - hasMore
        - items
      additionalProperties: false
    GetAudienceResponse:
      type: object
      properties:
        audienceId:
          type: string
          description: The audience ID
        pageId:
          type: string
          description: The parent page ID
        tenantId:
          type: string
          description: The tenant ID
        createdAt:
          type: string
          description: ISO 8601 creation timestamp
        effectiveName:
          type: string
          description: The effective name (custom or computed)
        customName:
          anyOf:
            - type: string
            - type: "null"
        computedName:
          type: string
          description: AI-computed name
        supplementaryContext:
          anyOf:
            - type: string
            - type: "null"
        publishedVersion:
          anyOf:
            - type: object
              properties:
                versionId:
                  type: string
                versionNumber:
                  type: number
                publishedAt:
                  anyOf:
                    - type: string
                    - type: "null"
              required:
                - versionId
                - versionNumber
                - publishedAt
              additionalProperties: false
            - type: "null"
      required:
        - audienceId
        - pageId
        - tenantId
        - createdAt
        - effectiveName
        - customName
        - computedName
        - supplementaryContext
        - publishedVersion
      additionalProperties: false
    GetAudienceVersionResponse:
      type: object
      properties:
        createdAt:
          type: string
        id:
          type: string
        status:
          type: string
          enum:
            - pending
            - queued
            - processing
            - draft
            - published
            - archived
            - cancelled
        versionNumber:
          type: number
      required:
        - createdAt
        - id
        - status
        - versionNumber
      additionalProperties: false
    GetLink:
      type: object
      properties:
        url:
          type: string
          description: Full shareable URL for the page
        domain:
          type: string
          description: Domain used in the URL
        path:
          type: string
          description: Path portion of the URL
      required:
        - url
        - domain
        - path
      additionalProperties: false
    GetPage:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              actions:
                type: array
                items: {}
              audiencesCount:
                type: number
              brandId:
                type: string
              createdAt:
                $ref: "#/components/schemas/CreatedAt"
              deletedAt:
                "0":
                  $ref: "#/components/schemas/CreatedAt"
                anyOf:
                  - $ref: "#/components/schemas/CreatedAt"
                  - type: "null"
              footerLinks:
                type: array
                items: {}
              headerActionId:
                type: string
              name:
                type: string
              pageContext:
                type: string
              pageId:
                type: string
              scripts:
                type: array
                items: {}
              status:
                type: string
              tenantId:
                type: string
              title:
                type: string
              updatedAt:
                $ref: "#/components/schemas/CreatedAt"
            required:
              - actions
              - audiencesCount
              - brandId
              - createdAt
              - deletedAt
              - footerLinks
              - name
              - pageContext
              - pageId
              - scripts
              - status
              - tenantId
              - title
              - updatedAt
            additionalProperties: false
        limit:
          type: number
        nextCursor:
          type: string
      required:
        - hasMore
        - items
        - limit
      additionalProperties: false
    GetPageResponse:
      type: object
      properties:
        brandId:
          type: string
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        actions:
          type: array
          items: {}
        deletedAt:
          "0":
            $ref: "#/components/schemas/CreatedAt"
          anyOf:
            - $ref: "#/components/schemas/CreatedAt"
            - type: "null"
        footerLinks:
          type: array
          items: {}
        headerActionId:
          type: string
        metadata: {}
        name:
          type: string
        pageContext:
          type: string
        pageId:
          type: string
        scripts:
          type: array
          items: {}
        tenantId:
          type: string
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
        audiencesCount:
          type: number
      required:
        - brandId
        - createdAt
        - actions
        - deletedAt
        - footerLinks
        - name
        - pageContext
        - pageId
        - scripts
        - tenantId
        - updatedAt
        - audiencesCount
      additionalProperties: false
    GetVersion:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/GetAudienceVersionResponse"
        page:
          type: object
          properties:
            hasMore:
              type: boolean
            totalCount:
              type: number
          required:
            - hasMore
            - totalCount
          additionalProperties: false
      required:
        - items
        - page
      additionalProperties: false
    GetWebhookSubscriptionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique subscription identifier
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
            - type: "null"
        active:
          type: boolean
          description: Whether the subscription is active
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
      required:
        - id
        - url
        - events
        - active
        - createdAt
        - updatedAt
      additionalProperties: false
    PersonId:
      type: string
      minLength: 1
      pattern: ^prospect_[a-z0-9]{26}$
    PostAudience:
      type: object
      properties:
        audienceId:
          type: string
          description: The created audience ID
        pageId:
          type: string
          description: The parent page ID
        tenantId:
          type: string
          description: The tenant ID
        createdAt:
          type: string
          description: ISO 8601 creation timestamp
        status:
          type: string
          const: processing
          description: Audience version creation status (always 'processing' on create)
      required:
        - audienceId
        - pageId
        - tenantId
        - createdAt
        - status
      additionalProperties: false
    PostPersonLog:
      type: object
      properties:
        personId:
          $ref: "#/components/schemas/PersonId"
        personLogId:
          type: string
          minLength: 1
          pattern: ^prospectlog_[a-z0-9]{26}$
          description: The created person log entry ID
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        createdPerson:
          type: boolean
          description: Whether the request auto-created a person before writing the log
        source:
          type: string
          minLength: 1
          maxLength: 100
          description: The stored person log source
        type:
          type: string
          minLength: 1
          maxLength: 100
          description: The stored person log type
      required:
        - personId
        - personLogId
        - createdAt
        - createdPerson
        - source
        - type
      additionalProperties: false
    PostWebhookSubscription:
      type: object
      properties:
        id:
          type: string
          description: Unique subscription identifier
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
            - type: "null"
        active:
          type: boolean
          description: Whether the subscription is active
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
        signingSecret:
          type: string
          description: The signing secret for the subscription
      required:
        - id
        - url
        - events
        - active
        - createdAt
        - updatedAt
        - signingSecret
      additionalProperties: false
    UpdateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
        active:
          type: boolean
      additionalProperties: false
    Url:
      type: string
      format: uri
      description: The webhook endpoint URL
  securitySchemes:
    apiKey:
      description: API key authentication for the External Actor Gateway
      in: header
      name: x-api-key
      type: apiKey
paths:
  /v0/pages:
    get:
      description: Retrieve a list of pages for the authenticated tenant with optional filtering and pagination
      operationId: listPages
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPage"
      summary: List pages
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - in: query
          name: status
          description: status parameter
          required: false
          schema:
            type: string
            enum:
              - archived
              - draft
              - published
  /v0/pages/{page_id}:
    get:
      description: Retrieve a specific page by ID.
      operationId: getPage
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageResponse"
      summary: Get page by ID
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
  /v0/pages/{page_id}/audiences:
    get:
      description: Retrieve a paginated list of audiences within the specified page
      operationId: listAudiences
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAudience"
      summary: List audiences in a page
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/PageIdPath"
    post:
      description: Create a new audience in the page and trigger version creation/publishing
      operationId: createAudience
      responses:
        "201":
          description: Audience created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostAudience"
      summary: Create audience with version
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAudienceRequest"
        required: true
  /v0/pages/{page_id}/audiences/{audience_id}:
    get:
      description: Retrieve audience details including published version information
      operationId: getAudience
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAudienceResponse"
      summary: Get audience with published version
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
  /v0/pages/{page_id}/audiences/{audience_id}/link:
    get:
      description: Generate a shareable link for an audience. Fails if the audience version is not yet published.
      operationId: getAudienceLink
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLink"
      summary: Get audience link
      tags:
        - Audiences
      parameters:
        - in: query
          name: tenantDomainId
          description: Optional tenant domain ID for custom domain. If not provided, uses fallback subdomain.
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
  /v0/pages/{page_id}/audiences/{audience_id}/versions:
    get:
      description: Retrieve a list of versions for the specified audience
      operationId: listAudienceVersions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVersion"
      summary: List audience versions
      tags:
        - Audience Versions
      parameters:
        - in: query
          name: include
          description: Comma-separated list of additional fields to include (archived)
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/LimitQuery"
        - in: query
          name: page
          description: Page number for pagination (default 1)
          required: false
          schema:
            type: number
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
  /v0/pages/{page_id}/audiences/{audience_id}/versions/{version_id}:
    get:
      description: Retrieve a specific version of an audience
      operationId: getAudienceVersion
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAudienceVersionResponse"
      summary: Get audience version
      tags:
        - Audience Versions
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
        - in: path
          name: version_id
          description: version_id parameter
          required: true
          schema:
            type: string
  /v0/person_logs:
    post:
      description: Create a person log entry using the authenticated API key tenant context
      operationId: createPersonLog
      responses:
        "201":
          description: PersonLog created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPersonLog"
      summary: Create person log entry
      tags:
        - Person Logs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePersonLogRequest"
        required: true
  /v0/webhook_subscriptions:
    get:
      description: List webhook subscriptions for the authenticated tenant
      operationId: listWebhookSubscriptions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArraySchema"
      summary: List webhook subscriptions
      tags:
        - Webhook Subscriptions
    post:
      description: Create a webhook subscription
      operationId: createWebhookSubscription
      responses:
        "201":
          description: WebhookSubscription created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostWebhookSubscription"
      summary: Create webhook subscription
      tags:
        - Webhook Subscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookSubscriptionRequest"
        required: true
  /v0/webhook_subscriptions/{subscription_id}:
    get:
      description: Get a webhook subscription by ID
      operationId: getWebhookSubscription
      responses:
        "200":
          $ref: "#/components/responses/GetWebhookSubscriptionResponseResponse"
      summary: Get webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
    patch:
      description: Update a webhook subscription by ID
      operationId: updateWebhookSubscription
      responses:
        "200":
          $ref: "#/components/responses/GetWebhookSubscriptionResponseResponse"
      summary: Update webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookSubscriptionRequest"
        required: true
    delete:
      description: Delete a webhook subscription by ID
      operationId: deleteWebhookSubscription
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteWebhookSubscriptionResponse"
      summary: Delete webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
tags:
  - name: Pages
    description: Page management operations
  - name: Audiences
    description: Audience management operations
  - name: Audience Versions
    description: Audience version management operations
  - name: Person Logs
    description: Person log ingestion operations
  - name: Webhook Subscriptions
    description: Webhook subscription management operations
