openapi: 3.1.0
info:
  contact:
    email: api-support@tryarchitect.com
    name: Architect
    url: https://tryarchitect.com
  description: |-
    The Customer API lets you manage pages, audiences, persons, accounts, topics, page links, analytics, and webhook subscriptions.

    ## Authentication
    Send your API key in the `x-api-key` header on every request.

    ## Terminology
    - **Page**: a top-level customer experience container.
    - **Audience**: a targeted experience that belongs to a Page.
    - **Version**: a generated or editable Audience state, including drafts and published versions.
    - **Person**: an individual contact record.

    ## Pagination
    Collection endpoints use `limit` and `cursor`. When another page is available, pass the returned `nextCursor` value back as `cursor`. When there are no more results, `nextCursor` is `null`.

    ## Webhooks
    Create subscriptions with `POST /v0/webhook_subscriptions`. The `signingSecret` is returned only once, when the subscription is created, so store it securely.

    Webhook deliveries are sent as `POST` requests with these headers:
    - `X-Webhook-Signature-256`: HMAC-SHA256 of the raw request body, prefixed with `sha256=`
    - `X-Webhook-Timestamp`: Unix timestamp in milliseconds used when the signature was generated

    Webhook deliveries are at-least-once. Use `eventId` for idempotency and return a `2xx` response quickly after persisting work.

    Example delivery body:
    ```json
    {
      "timestamp": "2024-01-15T10:30:00.000Z",
      "eventId": "event_01j5k9m7n8p9q2r3s4t5v6w7x8",
      "payload": {
        "type": "page.version.created",
        "pageId": "page_01j5k9m7n8p9q2r3s4t5v6w7x8",
        "versionId": "<audience_version_id>",
        "createdAt": "2024-01-15T10:30:00.000Z"
      }
    }
    ```

    Version webhook event names currently use the internal `page.version.*` namespace. In Customer API terms, these correspond to Audience version lifecycle events.
  title: Architect - Customer API
  version: 0.0.1
servers:
  - description: Production environment
    url: https://api.tryarchitect.com
  - description: Beta environment
    url: https://api.beta.tryarchitect.com
  - description: Local environment
    url: http://localhost:25001
security:
  - apiKey: []
components:
  callbacks: {}
  examples:
    01Example:
      description: Example values extracted from schema defaults
      summary: 01 example
      value:
        title: null
    24Example:
      description: Example values extracted from schema defaults
      summary: 24 example
      value:
        metaDescription: null
        purpose: null
        enrichmentStatus: pending
    CreateAudienceRequestExample:
      description: Example values extracted from schema defaults
      summary: CreateAudienceRequest example
      value:
        publishBehavior: publish
    CreateWebhookSubscriptionRequestExample:
      description: Example values extracted from schema defaults
      summary: CreateWebhookSubscriptionRequest example
      value:
        active: true
    ErrorExample:
      description: Example values extracted from schema defaults
      summary: Error example
      value:
        status: 400
    ImageExample:
      description: Example values extracted from schema defaults
      summary: Image example
      value:
        altText: null
        url: null
        fileId: null
        assetId: null
    ScriptExample:
      description: Example values extracted from schema defaults
      summary: Script example
      value:
        enabled: true
    VideoExample:
      description: Example values extracted from schema defaults
      summary: Video example
      value:
        title: null
        youtubeUrl: null
        autoplay: false
        loop: false
        controls: true
        muted: null
  headers: {}
  links: {}
  parameters:
    AccountIdPath:
      in: path
      name: account_id
      description: account_id parameter
      required: true
      schema:
        type: string
    AccountLogIdPath:
      in: path
      name: account_log_id
      description: account_log_id parameter
      required: true
      schema:
        type: string
    AssetIdPath:
      in: path
      name: asset_id
      description: asset_id parameter
      required: true
      schema:
        type: string
    AssetTypeQuery:
      in: query
      name: assetType
      description: assetType parameter
      required: false
      schema:
        type: string
        enum:
          - image
          - logo
          - icon
          - video
          - custom-component
    AudienceIdPath:
      in: path
      name: audience_id
      description: audience_id parameter
      required: true
      schema:
        type: string
    AudienceSessionIdPath:
      in: path
      name: audience_session_id
      description: audience_session_id parameter
      required: true
      schema:
        type: string
    Cursor:
      description: Opaque cursor for pagination - use nextCursor from a previous response.
      in: query
      name: cursor
      required: false
      schema:
        type: string
    CursorQuery:
      in: query
      name: cursor
      description: cursor parameter
      required: false
      schema:
        type: string
    EndDateQuery:
      in: query
      name: endDate
      description: endDate parameter
      required: false
      schema:
        type: string
        format: date-time
    IncludeDeletedQuery:
      in: query
      name: includeDeleted
      description: includeDeleted parameter
      required: false
      schema:
        type: string
    IncludeEmptyOnlyQuery:
      in: query
      name: includeEmptyOnly
      description: includeEmptyOnly parameter
      required: false
      schema:
        type: string
    Limit:
      description: Number of items to return (1-100, default 20).
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: number
    LimitQuery:
      in: query
      name: limit
      description: limit parameter
      required: false
      schema:
        type: number
    MessageIdPath:
      in: path
      name: message_id
      description: message_id parameter
      required: true
      schema:
        type: string
    PageIdPath:
      in: path
      name: page_id
      description: page_id parameter
      required: true
      schema:
        type: string
    PageIdQuery:
      in: query
      name: pageId
      description: pageId parameter
      required: false
      schema:
        type: string
    PageLinkIdPath:
      in: path
      name: page_link_id
      description: page_link_id parameter
      required: true
      schema:
        type: string
    PersonIdPath:
      in: path
      name: person_id
      description: person_id parameter
      required: true
      schema:
        type: string
    PersonLogIdPath:
      in: path
      name: person_log_id
      description: person_log_id parameter
      required: true
      schema:
        type: string
    QueryQuery:
      in: query
      name: query
      description: query parameter
      required: false
      schema:
        type: string
    StartDateQuery:
      in: query
      name: startDate
      description: startDate parameter
      required: false
      schema:
        type: string
        format: date-time
    SubscriptionIdPath:
      in: path
      name: subscription_id
      description: The webhook subscription ID
      required: true
      schema:
        type: string
    TenantDomainIdQuery:
      in: query
      name: tenantDomainId
      description: Optional tenant domain ID for custom domain. If not provided, uses fallback subdomain.
      required: false
      schema:
        type: string
    TopicEntryIdPath:
      in: path
      name: topic_entry_id
      description: topic_entry_id parameter
      required: true
      schema:
        type: string
    TopicIdPath:
      in: path
      name: topic_id
      description: topic_id parameter
      required: true
      schema:
        type: string
    VersionIdPath:
      in: path
      name: version_id
      description: version_id parameter
      required: true
      schema:
        type: string
  requestBodies:
    ArchiveBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateArchiveRequest"
      required: true
    LogsBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdatePersonLogRequest"
      required: true
    VersionsBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateVersionRequest"
      required: true
  responses:
    ConflictError:
      content:
        application/json:
          examples:
            default:
              value:
                code: CONFLICT
                detail: Default topic titles cannot be updated
                requestId: req_01j5k9m7n8p9q2r3s4t5v6w7x8
                status: 409
                title: Conflict
                type: https://api.tryarchitect.com/errors/conflict
          schema:
            $ref: "#/components/schemas/Error"
      description: The request conflicts with current resource state, lifecycle rules, or uniqueness constraints.
    ForbiddenError:
      content:
        application/json:
          examples:
            default:
              value:
                code: FORBIDDEN
                detail: Multi-tenant API keys are not supported
                requestId: req_01j5k9m7n8p9q2r3s4t5v6w7x8
                status: 403
                title: Forbidden
                type: https://api.tryarchitect.com/errors/forbidden
          schema:
            $ref: "#/components/schemas/Error"
      description: The caller is authenticated but does not have access to the requested tenant or operation.
    GetAccountResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetAccount"
    GetAssetResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetAsset"
    GetLinkResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetLink"
    GetPageLinkResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetPageLink"
    GetPersonResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetPerson"
    GetTopicResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetTopic"
    GetWebhookSubscriptionResponseResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    InternalServerError:
      content:
        application/json:
          examples:
            default:
              value:
                code: INTERNAL
                detail: An unexpected error occurred
                requestId: req_01j5k9m7n8p9q2r3s4t5v6w7x8
                status: 500
                title: Internal Server Error
                type: https://api.tryarchitect.com/errors/internal
          schema:
            $ref: "#/components/schemas/Error"
      description: The server encountered an unexpected error while processing the request.
    NotFoundError:
      content:
        application/json:
          examples:
            default:
              value:
                code: NOT_FOUND
                detail: Audience not found
                requestId: req_01j5k9m7n8p9q2r3s4t5v6w7x8
                status: 404
                title: Not Found
                type: https://api.tryarchitect.com/errors/not_found
          schema:
            $ref: "#/components/schemas/Error"
      description: The referenced resource does not exist, is not owned by the requested parent, or is not visible to the authenticated tenant.
    PostAccountResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostAccount"
    PostAssetResponse:
      description: Asset created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostAsset"
    PostAudienceResponse:
      description: Audience created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostAudience"
    PostEntrieResponse:
      description: TopicEntry created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostEntrie"
    PostPageLinkResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostPageLink"
    PostPageResponse:
      description: Page created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostPage"
    PostPersonResponse:
      description: Person created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostPerson"
    PostRevertResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostRevert"
    PostTopicResponse:
      description: Topic created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostTopic"
    PostVersionResponse:
      description: AudienceVersion created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostVersion"
    RateLimitError:
      content:
        application/json:
          examples:
            default:
              value:
                code: RATE_LIMITED
                detail: Rate limit exceeded
                details:
                  limit: 100
                  remaining: 0
                  resetTime: 1713225600000
                  retryAfter: 60
                requestId: req_01j5k9m7n8p9q2r3s4t5v6w7x8
                status: 429
                title: Too Many Requests
                type: https://api.tryarchitect.com/errors/rate_limited
          schema:
            $ref: "#/components/schemas/Error"
      description: The authenticated caller has exceeded the current request rate limit window.
    ServiceUnavailableError:
      content:
        application/json:
          examples:
            default:
              value:
                code: SERVICE_UNAVAILABLE
                detail: The service is temporarily unavailable
                requestId: req_01j5k9m7n8p9q2r3s4t5v6w7x8
                status: 503
                title: Service Unavailable
                type: https://api.tryarchitect.com/errors/service_unavailable
          schema:
            $ref: "#/components/schemas/Error"
      description: The service is temporarily unavailable. Retry the request after a short delay.
    UnauthorizedError:
      content:
        application/json:
          examples:
            default:
              value:
                code: UNAUTHORIZED
                detail: Authentication is required
                requestId: req_01j5k9m7n8p9q2r3s4t5v6w7x8
                status: 401
                title: Unauthorized
                type: https://api.tryarchitect.com/errors/unauthorized
          schema:
            $ref: "#/components/schemas/Error"
      description: The request did not include valid authentication credentials.
    ValidationError:
      content:
        application/json:
          examples:
            default:
              value:
                code: VALIDATION_ERROR
                detail: "body - name: Name is required; email: Invalid email address"
                details:
                  - field: body
                    issues:
                      - code: validation_failed
                        message: "name: Name is required"
                        path:
                          - name
                requestId: req_01j5k9m7n8p9q2r3s4t5v6w7x8
                status: 400
                title: Bad Request
                type: https://api.tryarchitect.com/errors/validation_error
          schema:
            $ref: "#/components/schemas/Error"
      description: The request could not be processed because the path, query string, or JSON body was invalid.
  schemas:
    ActionIdActionIndexActionTypeButtonTitlePurposeUrlSchema:
      type: object
      properties:
        actionId:
          type: string
          minLength: 1
          description: Opaque identifier for the action
        actionIndex:
          type: number
          description: Position in actions array
        purpose:
          type: string
          description: Business purpose or goal of this action
        buttonTitle:
          type: string
          description: Text displayed on the action button
        actionType:
          type: string
          const: open-url
        url:
          $ref: "#/components/schemas/Url"
      required:
        - actionId
        - actionIndex
        - purpose
        - buttonTitle
        - actionType
        - url
      additionalProperties: false
    ActionIdActionIndexActionTypeButtonTitleFormIdFormInstructionsPurposeSchema:
      type: object
      properties:
        actionId:
          type: string
          minLength: 1
          description: Opaque identifier for the action
        actionIndex:
          type: number
          description: Position in actions array
        purpose:
          type: string
          description: Business purpose or goal of this action
        buttonTitle:
          type: string
          description: Text displayed on the action button
        actionType:
          type: string
          const: form
        formId:
          type: string
          minLength: 1
          description: Opaque identifier for the form to display
        formInstructions:
          type: string
      required:
        - actionId
        - actionIndex
        - purpose
        - buttonTitle
        - actionType
        - formId
      additionalProperties: false
    ActionIdActionIndexActionTypeButtonTitleCopyTextPurposeSchema:
      type: object
      properties:
        actionId:
          type: string
          minLength: 1
          description: Opaque identifier for the action
        actionIndex:
          type: number
          description: Position in actions array
        purpose:
          type: string
          description: Business purpose or goal of this action
        buttonTitle:
          type: string
          description: Text displayed on the action button
        actionType:
          type: string
          const: copy-text
        copyText:
          type: string
          description: Text to copy to the visitor's clipboard when the action is triggered
      required:
        - actionId
        - actionIndex
        - purpose
        - buttonTitle
        - actionType
        - copyText
      additionalProperties: false
    TypeYoutubeUrlSchema:
      type: object
      properties:
        type:
          type: string
          const: video
        youtubeUrl:
          type: string
      required:
        - type
        - youtubeUrl
      additionalProperties: false
    BodyPropsSchemaTypeSchema:
      type: object
      properties:
        type:
          type: string
          const: custom-component
        body:
          type: string
          maxLength: 100000
        propsSchema:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - type
        - body
      additionalProperties: false
    TypeVideoSchema:
      type: object
      properties:
        type:
          type: string
          const: video
        video:
          $ref: "#/components/schemas/Video"
      required:
        - type
        - video
      additionalProperties: false
    ActionIdActionTypeButtonTitleFormIdFormInstructionsPurposeSchema:
      type: object
      properties:
        actionId:
          type: string
          minLength: 1
          description: Opaque identifier for the action
        purpose:
          type: string
        buttonTitle:
          type: string
        actionType:
          type: string
          const: form
        formId:
          type: string
          minLength: 1
          description: Opaque identifier for the form to display
        formInstructions:
          type: string
      required:
        - purpose
        - buttonTitle
        - actionType
        - formId
      additionalProperties: false
    PageIdTargetTypeSchema:
      type: object
      properties:
        targetType:
          type: string
          const: page
        pageId:
          type: string
      required:
        - targetType
        - pageId
      additionalProperties: false
    PreserveQueryParamsTargetUrlWeightSchema:
      type: object
      properties:
        targetUrl:
          $ref: "#/components/schemas/Url"
        weight:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
        preserveQueryParams:
          type: boolean
      required:
        - targetUrl
        - weight
      additionalProperties: false
    FileIdTypeSchema:
      type: object
      properties:
        type:
          type: string
          const: image
        fileId:
          type: string
      required:
        - type
        - fileId
      additionalProperties: false
    AiSummaryFileIdTypeSchema:
      type: object
      properties:
        type:
          type: string
          const: file
        fileId:
          type: string
        aiSummary:
          anyOf:
            - type: string
            - type: "null"
      required:
        - type
        - fileId
        - aiSummary
      additionalProperties: false
    ActionIdActionTypeButtonTitleCopyTextPurposeSchema:
      type: object
      properties:
        actionId:
          type: string
          minLength: 1
          description: Opaque identifier for the action
        purpose:
          type: string
        buttonTitle:
          type: string
        actionType:
          type: string
          const: copy-text
        copyText:
          type: string
      required:
        - purpose
        - buttonTitle
        - actionType
        - copyText
      additionalProperties: false
    PageIdRoutingTableTargetTypeSchema:
      type: object
      properties:
        targetType:
          type: string
          const: page_routing
        pageId:
          type: string
        routingTable:
          anyOf:
            - type: array
              items:
                anyOf:
                  - $ref: "#/components/schemas/AudienceIdWeightSchema"
                  - $ref: "#/components/schemas/PreserveQueryParamsTargetUrlWeightSchema"
            - type: "null"
      required:
        - targetType
        - pageId
      additionalProperties: false
    AiSummaryEnrichmentStatusIconMetaDescriptionNamePurposeTypeUrlSchema:
      type: object
      properties:
        type:
          type: string
          const: url
        url:
          $ref: "#/components/schemas/Url"
        name:
          anyOf:
            - type: string
            - type: "null"
        icon:
          anyOf:
            - $ref: "#/components/schemas/Url"
            - type: "null"
        metaDescription:
          default: null
          anyOf:
            - type: string
            - type: "null"
        purpose:
          default: null
          anyOf:
            - type: string
            - type: "null"
        aiSummary:
          anyOf:
            - type: string
            - type: "null"
        enrichmentStatus:
          default: pending
          type: string
          enum:
            - pending
            - success
            - failed
      required:
        - type
        - url
        - name
        - icon
        - metaDescription
        - purpose
        - aiSummary
        - enrichmentStatus
      additionalProperties: false
    LogosTitleTypeSchema:
      type: object
      properties:
        type:
          type: string
          const: marquee
        title:
          default: null
          anyOf:
            - type: string
            - type: "null"
        logos:
          type: array
          items:
            $ref: "#/components/schemas/NestedObject"
      required:
        - type
        - title
        - logos
      additionalProperties: false
    UnnamedSchema:
      type: string
      format: date-time
      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
    ContentTypeSchema:
      type: object
      properties:
        type:
          type: string
          const: text
        content:
          type: string
      required:
        - type
        - content
      additionalProperties: false
    ActionIdActionTypeButtonTitlePurposeUrlSchema:
      type: object
      properties:
        actionId:
          type: string
          minLength: 1
          description: Opaque identifier for the action
        purpose:
          type: string
        buttonTitle:
          type: string
        actionType:
          type: string
          const: open-url
        url:
          $ref: "#/components/schemas/Url"
      required:
        - purpose
        - buttonTitle
        - actionType
        - url
      additionalProperties: false
    IdTextTypeUrlSchema:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
          minLength: 1
        url:
          type: string
          minLength: 1
        type:
          type: string
          const: link
      required:
        - text
        - url
        - type
      additionalProperties: false
    AudienceIdTargetTypeSchema:
      type: object
      properties:
        targetType:
          type: string
          const: audience
        audienceId:
          type: string
      required:
        - targetType
        - audienceId
      additionalProperties: false
    AudienceIdWeightSchema:
      type: object
      properties:
        audienceId:
          type: string
        weight:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
      required:
        - audienceId
        - weight
      additionalProperties: false
    AccountId:
      type: string
      minLength: 1
      pattern: ^account_[a-z0-9]{26}$
    CreateAccountLogRequest:
      type: object
      properties:
        accountId:
          $ref: "#/components/schemas/AccountId"
        domain:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
          maxLength: 255
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Type"
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 255
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - source
        - type
        - payload
      additionalProperties: false
    CreateAccountRequest:
      type: object
      properties:
        domain:
          type: string
          minLength: 1
          description: Canonical account domain
        name:
          type: string
          minLength: 1
          maxLength: 255
      required:
        - domain
      additionalProperties: false
    CreateArchiveRequest:
      type: object
      properties: {}
      additionalProperties: false
    CreateAudienceRequest:
      type: object
      properties:
        actionFormIdOverride:
          type: string
        actionFormInstructionsOverride:
          type: string
        actionUrlOverride:
          $ref: "#/components/schemas/Url"
        customName:
          type: string
          minLength: 1
        metadataOverride:
          $ref: "#/components/schemas/Metadata1"
        publishBehavior:
          default: publish
          type: string
          enum:
            - draft
            - publish
        supplementaryContext:
          type: string
          minLength: 1
      required:
        - publishBehavior
      additionalProperties: false
    CreateEntrieRequest:
      type: object
      properties:
        content:
          anyOf:
            - $ref: "#/components/schemas/ContentTypeSchema"
            - $ref: "#/components/schemas/AiSummaryFileIdTypeSchema"
            - type: object
              properties:
                type:
                  type: string
                  const: url
                url:
                  $ref: "#/components/schemas/Url"
                name:
                  anyOf:
                    - type: string
                    - type: "null"
                icon:
                  anyOf:
                    - $ref: "#/components/schemas/Url"
                    - type: "null"
                metaDescription:
                  default: null
                  anyOf:
                    - type: string
                    - type: "null"
                purpose:
                  default: null
                  anyOf:
                    - type: string
                    - type: "null"
                aiSummary:
                  anyOf:
                    - type: string
                    - type: "null"
                enrichmentStatus:
                  default: pending
                  type: string
                  enum:
                    - pending
                    - success
                    - failed
              required:
                - type
                - url
                - name
                - icon
                - metaDescription
                - purpose
                - aiSummary
                - enrichmentStatus
              additionalProperties: false
        sortOrder:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - content
      additionalProperties: false
    CreateInterruptRequest:
      type: object
      properties:
        partialText:
          type: string
          maxLength: 100000
      additionalProperties: false
    CreateMessageRequest:
      type: object
      properties:
        message:
          type: string
          minLength: 1
          maxLength: 50000
        clientMessageId:
          type: string
          minLength: 1
          maxLength: 100
        selectedElement:
          type: object
          properties:
            blockId:
              type: string
              maxLength: 200
            elementId:
              type: string
              maxLength: 200
            elementType:
              type: string
              maxLength: 100
            blockTitle:
              anyOf:
                - type: string
                  maxLength: 1000
                - type: "null"
            content:
              anyOf:
                - type: string
                  maxLength: 1000
                - type: "null"
            selectedText:
              anyOf:
                - type: string
                  maxLength: 1000
                - type: "null"
            componentIndex:
              type: integer
              minimum: 0
              maximum: 9007199254740991
            jsonPath:
              anyOf:
                - type: string
                  maxLength: 500
                - type: "null"
          required:
            - blockId
            - elementId
            - elementType
            - blockTitle
            - content
          additionalProperties: false
      required:
        - message
      additionalProperties: false
    CreatePageLinkRequest:
      type: object
      properties:
        tenantDomainId:
          anyOf:
            - type: string
            - type: "null"
        path:
          type: string
          minLength: 1
        target:
          anyOf:
            - $ref: "#/components/schemas/AudienceIdTargetTypeSchema"
            - $ref: "#/components/schemas/PageIdTargetTypeSchema"
            - type: object
              properties:
                targetType:
                  type: string
                  const: page_routing
                pageId:
                  type: string
                routingTable:
                  anyOf:
                    - type: array
                      items:
                        anyOf:
                          - $ref: "#/components/schemas/AudienceIdWeightSchema"
                          - $ref: "#/components/schemas/PreserveQueryParamsTargetUrlWeightSchema"
                    - type: "null"
              required:
                - targetType
                - pageId
              additionalProperties: false
      required:
        - path
        - target
      additionalProperties: false
    CreatePageRequest:
      type: object
      properties:
        actions:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitlePurposeUrlSchema"
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitleFormIdFormInstructionsPurposeSchema"
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitleCopyTextPurposeSchema"
        actionCardWidgets:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/LogosTitleTypeSchema"
              - $ref: "#/components/schemas/TypeVideoSchema"
        brandId:
          type: string
        footerLinks:
          type: array
          items:
            $ref: "#/components/schemas/FooterLink"
        navLinks:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/IdTextTypeUrlSchema"
              - $ref: "#/components/schemas/FooterLink1"
        metadata:
          $ref: "#/components/schemas/Metadata1"
        name:
          type: string
          minLength: 1
        pageContext:
          type: string
          minLength: 1
        pageType:
          type: string
          enum:
            - inbound
            - outbound
            - call_followup
            - sales_deck
            - custom
        scripts:
          type: array
          items:
            $ref: "#/components/schemas/Script"
      required:
        - actions
        - brandId
        - footerLinks
        - name
        - pageContext
      additionalProperties: false
    CreatePersonLogRequest:
      type: object
      properties:
        personId:
          type: string
          minLength: 1
          description: Existing person ID to attach the log entry to
        email:
          type: string
        phoneNumber:
          $ref: "#/components/schemas/UnnamedSchema"
        linkedinProfileUrl:
          type: string
          minLength: 1
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Type"
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 255
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - source
        - type
        - payload
      additionalProperties: false
    CreatePersonRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        email:
          type: string
        domain:
          type: string
          minLength: 1
        phoneNumber:
          $ref: "#/components/schemas/UnnamedSchema"
        linkedinProfileUrl:
          type: string
          minLength: 1
      required:
        - name
      additionalProperties: false
    CreateTopicRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
        sortOrder:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - title
      additionalProperties: false
    CreateVersionRequest:
      type: object
      properties:
        operationKey:
          type: string
          minLength: 1
          maxLength: 128
      additionalProperties: false
    CreateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          minItems: 1
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
            description: Supported outbound webhook event types. `page.version.*` events correspond to Audience version lifecycle changes in Customer API terminology.
          description: Event types to subscribe to
          examples:
            - - page.version.created
              - page.version.processed
              - page.version.published
        active:
          default: true
          description: Whether the subscription should be active
          examples:
            - true
          type: boolean
      required:
        - url
        - events
        - active
      additionalProperties: false
    DeletePageResponse:
      type: object
      properties:
        success:
          type: boolean
          const: true
      required:
        - success
      additionalProperties: false
    Error:
      properties:
        code:
          enum:
            - UNAUTHORIZED
            - FORBIDDEN
            - NOT_FOUND
            - VALIDATION_ERROR
            - CONFLICT
            - RATE_LIMITED
            - INTERNAL
            - SERVICE_UNAVAILABLE
          examples:
            - VALIDATION_ERROR
            - UNAUTHORIZED
            - NOT_FOUND
          type: string
        detail:
          examples:
            - Authentication is required
            - Audience not found
            - Default topic titles cannot be updated
          type: string
        details:
          description: Optional structured details about the error, such as validation issues or rate-limit metadata.
          examples:
            - - field: body
                issues:
                  - code: validation_failed
                    message: "name: Name is required"
                    path:
                      - name
            - limit: 100
              remaining: 0
              resetTime: 1713225600000
              retryAfter: 60
          oneOf:
            - items:
                additionalProperties: true
                type: object
              type: array
            - additionalProperties: true
              type: object
        requestId:
          examples:
            - req_01j5k9m7n8p9q2r3s4t5v6w7x8
          type: string
        status:
          example: 400
          type: number
        title:
          examples:
            - Bad Request
            - Unauthorized
            - Not Found
          type: string
        type:
          examples:
            - https://api.tryarchitect.com/errors/validation_error
            - https://api.tryarchitect.com/errors/not_found
          type: string
      required:
        - code
        - detail
        - requestId
        - status
        - title
        - type
      type: object
    FooterLink:
      type: object
      properties:
        id:
          type: string
        links:
          type: array
          items:
            $ref: "#/components/schemas/NestedObject1"
        title:
          type: string
      required:
        - links
        - title
      additionalProperties: false
    FooterLink1:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          minLength: 1
        links:
          minItems: 1
          type: array
          items:
            $ref: "#/components/schemas/NestedObject2"
        type:
          type: string
          const: group
      required:
        - title
        - links
        - type
      additionalProperties: false
    GetAccount:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              accountId:
                $ref: "#/components/schemas/AccountId"
              domain:
                type: string
                minLength: 1
              name:
                anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: "null"
              createdAt:
                $ref: "#/components/schemas/UnnamedSchema"
              updatedAt:
                $ref: "#/components/schemas/UnnamedSchema"
              latestActivityAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
              linkedPersonsCount:
                type: integer
                minimum: 0
                maximum: 9007199254740991
            required:
              - accountId
              - domain
              - name
              - createdAt
              - updatedAt
              - latestActivityAt
              - linkedPersonsCount
            additionalProperties: false
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetAccountLogResponse:
      type: object
      properties:
        accountId:
          $ref: "#/components/schemas/AccountId"
        accountLogId:
          type: string
          minLength: 1
          description: Stable account log entry ID
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Source"
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
        idempotencyKey:
          anyOf:
            - type: string
              minLength: 1
              maxLength: 255
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        deletedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
      required:
        - accountId
        - accountLogId
        - source
        - type
        - payload
        - idempotencyKey
        - createdAt
        - updatedAt
        - deletedAt
      additionalProperties: false
    GetActivity:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              activityId:
                type: string
                minLength: 1
                description: Stable identifier for the activity item
              activityType:
                type: string
                enum:
                  - account-log-entry
                  - person-log-entry
                description: Whether the activity originated from the account itself or a linked person
              accountId:
                $ref: "#/components/schemas/AccountId"
              accountLogId:
                anyOf:
                  - type: string
                    minLength: 1
                    description: Account log ID when the activity originated from the account
                  - type: "null"
              personId:
                anyOf:
                  - type: string
                    minLength: 1
                    description: Person ID when the activity originated from a linked person
                  - type: "null"
              personLogId:
                anyOf:
                  - type: string
                    minLength: 1
                    description: Person log ID when the activity originated from a linked person
                  - type: "null"
              personName:
                anyOf:
                  - type: string
                  - type: "null"
              source:
                $ref: "#/components/schemas/Source"
              type:
                $ref: "#/components/schemas/Source"
              payload:
                type: object
                propertyNames:
                  type: string
                additionalProperties: {}
              idempotencyKey:
                anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: "null"
              createdAt:
                $ref: "#/components/schemas/UnnamedSchema"
              updatedAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
              deletedAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
            required:
              - activityId
              - activityType
              - accountId
              - accountLogId
              - personId
              - personLogId
              - personName
              - source
              - type
              - payload
              - idempotencyKey
              - createdAt
              - updatedAt
              - deletedAt
            additionalProperties: false
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        hasMore:
          type: boolean
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
      required:
        - items
        - totalCount
        - hasMore
        - nextCursor
      additionalProperties: false
    GetAsset:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostAsset"
        nextCursor:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetAudience:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              avgInteractionsPerSession:
                type: number
              avgScrollDepthPercentage:
                anyOf:
                  - type: number
                  - type: "null"
              avgTimeSpentSeconds:
                anyOf:
                  - type: number
                  - type: "null"
              bounceRate:
                type: number
              conversionRate:
                type: number
              formSubmitRate:
                type: number
              totalSessions:
                type: number
              audienceId:
                type: string
              bounceCount:
                type: number
              bounceEligibleSessions:
                type: number
              conversionCount:
                type: number
              ctaSessions:
                type: number
              formSubmitCount:
                type: number
            required:
              - avgInteractionsPerSession
              - avgScrollDepthPercentage
              - avgTimeSpentSeconds
              - bounceRate
              - conversionRate
              - formSubmitRate
              - totalSessions
              - audienceId
              - bounceCount
              - bounceEligibleSessions
              - conversionCount
              - ctaSessions
              - formSubmitCount
            additionalProperties: false
      required:
        - items
      additionalProperties: false
    GetAudienceSession:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/GetAudienceSessionResponse"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetAudienceSessionResponse:
      type: object
      properties:
        analyticsSessionId:
          type: string
        audienceId:
          anyOf:
            - type: string
            - type: "null"
        audienceSessionId:
          anyOf:
            - type: string
            - type: "null"
        computationStatus:
          type: string
          enum:
            - pending
            - completed
            - failed
        formSubmissionEmail:
          anyOf:
            - type: string
            - type: "null"
        formSubmissionId:
          anyOf:
            - type: string
            - type: "null"
        formSubmissionIdentifier:
          anyOf:
            - type: string
            - type: "null"
        formSubmissionIdentifierType:
          anyOf:
            - type: string
              enum:
                - email
                - linkedin
                - tel
            - type: "null"
        formSubmissionPhone:
          anyOf:
            - type: string
            - type: "null"
        hasConversion:
          type: boolean
        hasFormSubmit:
          type: boolean
        isBounce:
          type: boolean
        maxScrollDepthPercentage:
          anyOf:
            - type: number
            - type: "null"
        pageId:
          anyOf:
            - type: string
            - type: "null"
        pageTitle:
          anyOf:
            - type: string
            - type: "null"
        pageUrl:
          anyOf:
            - type: string
            - type: "null"
        questionsAskedCount:
          type: number
        sessionEndedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        sessionStartedAt:
          $ref: "#/components/schemas/UnnamedSchema"
        timeSpentSeconds:
          anyOf:
            - type: number
            - type: "null"
        totalClicksCount:
          type: number
        utmCampaign:
          anyOf:
            - type: string
            - type: "null"
        utmContent:
          anyOf:
            - type: string
            - type: "null"
        utmMedium:
          anyOf:
            - type: string
            - type: "null"
        utmSource:
          anyOf:
            - type: string
            - type: "null"
        utmTerm:
          anyOf:
            - type: string
            - type: "null"
      required:
        - analyticsSessionId
        - audienceId
        - audienceSessionId
        - computationStatus
        - formSubmissionEmail
        - formSubmissionId
        - formSubmissionIdentifier
        - formSubmissionIdentifierType
        - formSubmissionPhone
        - hasConversion
        - hasFormSubmit
        - isBounce
        - maxScrollDepthPercentage
        - pageId
        - pageTitle
        - pageUrl
        - questionsAskedCount
        - sessionEndedAt
        - sessionStartedAt
        - timeSpentSeconds
        - totalClicksCount
        - utmCampaign
        - utmContent
        - utmMedium
        - utmSource
        - utmTerm
      additionalProperties: false
    GetAudience_0:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostAudience"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetEntrie:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostEntrie"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetInteraction:
      type: object
      properties:
        found:
          type: boolean
        interactions:
          type: array
          items:
            type: object
            properties:
              componentContext:
                anyOf:
                  - type: string
                  - type: "null"
              componentId:
                type: string
              groundingChunkIds:
                type: array
                items:
                  type: string
              label:
                type: string
              options:
                type: array
                items:
                  type: string
              responseText:
                type: string
              timestamp:
                type: number
            required:
              - componentContext
              - componentId
              - groundingChunkIds
              - label
              - options
              - responseText
              - timestamp
            additionalProperties: false
      required:
        - found
        - interactions
      additionalProperties: false
    GetLink:
      type: object
      properties:
        url:
          type: string
          description: Full shareable URL for the page
        domain:
          type: string
          description: Domain used in the URL
        path:
          type: string
          description: Path portion of the URL
      required:
        - url
        - domain
        - path
      additionalProperties: false
    GetLog:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/GetPersonLogResponse"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        hasMore:
          type: boolean
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
      required:
        - items
        - totalCount
        - hasMore
        - nextCursor
      additionalProperties: false
    GetLog_0:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/GetAccountLogResponse"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        hasMore:
          type: boolean
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
      required:
        - items
        - totalCount
        - hasMore
        - nextCursor
      additionalProperties: false
    GetMessage:
      type: object
      properties:
        conversation:
          anyOf:
            - type: object
              properties:
                conversationId:
                  type: string
                audienceId:
                  type: string
                publishedMessageId:
                  anyOf:
                    - type: string
                    - type: "null"
                createdAt:
                  $ref: "#/components/schemas/UnnamedSchema"
                updatedAt:
                  $ref: "#/components/schemas/UnnamedSchema"
              required:
                - conversationId
                - audienceId
                - publishedMessageId
                - createdAt
                - updatedAt
              additionalProperties: false
            - type: "null"
        messages:
          type: array
          items:
            type: object
            properties:
              messageId:
                type: string
              role:
                type: string
                enum:
                  - user
                  - assistant
              content:
                type: string
              timestamp:
                type: number
              hasSnapshot:
                type: boolean
              toolCalls:
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        arguments:
                          type: object
                          propertyNames:
                            type: string
                          additionalProperties: {}
                        status:
                          type: string
                          enum:
                            - running
                            - complete
                        result: {}
                        error:
                          type: string
                      required:
                        - id
                        - name
                        - status
                      additionalProperties: false
                  - type: "null"
              changes:
                anyOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/NestedObject3"
                  - type: "null"
              contentParts:
                anyOf:
                  - type: array
                    items:
                      anyOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              const: text
                            text:
                              type: string
                          required:
                            - type
                            - text
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              const: tool-call
                            toolCallId:
                              type: string
                          required:
                            - type
                            - toolCallId
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              const: artifact
                            artifactId:
                              type: string
                            path:
                              type: string
                            title:
                              type: string
                            kind:
                              type: string
                              enum:
                                - email
                                - call-script
                                - document
                            previewText:
                              anyOf:
                                - type: string
                                - type: "null"
                          required:
                            - type
                            - artifactId
                            - path
                            - title
                            - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              const: error
                            variant:
                              type: string
                              enum:
                                - generic
                                - provider-outage
                            title:
                              type: string
                            message:
                              type: string
                            provider:
                              type: string
                            incidentTitle:
                              type: string
                            statusPageUrl:
                              type: string
                          required:
                            - type
                            - variant
                            - title
                            - message
                          additionalProperties: false
                  - type: "null"
              reasoning:
                anyOf:
                  - type: string
                  - type: "null"
              isInterrupted:
                type: boolean
            required:
              - messageId
              - role
              - content
              - timestamp
              - hasSnapshot
              - toolCalls
              - changes
              - contentParts
              - reasoning
              - isInterrupted
            additionalProperties: false
        context:
          type: object
          properties:
            audienceId:
              type: string
            pageId:
              type: string
            currentSupplementaryContext:
              anyOf:
                - type: string
                - type: "null"
            currentMetaTitle:
              anyOf:
                - type: string
                - type: "null"
            currentMetaDescription:
              anyOf:
                - type: string
                - type: "null"
            currentMetaKeywords:
              anyOf:
                - type: string
                - type: "null"
            pageContext:
              type: string
          required:
            - audienceId
            - pageId
            - currentSupplementaryContext
            - currentMetaTitle
            - currentMetaDescription
            - currentMetaKeywords
            - pageContext
          additionalProperties: false
        pendingChanges:
          type: array
          items:
            $ref: "#/components/schemas/NestedObject3"
      required:
        - conversation
        - messages
        - context
        - pendingChanges
      additionalProperties: false
    GetPage:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostPage"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetPageLink:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              pageLinkId:
                type: string
              tenantDomainId:
                anyOf:
                  - type: string
                  - type: "null"
              path:
                type: string
              target:
                anyOf:
                  - anyOf:
                      - $ref: "#/components/schemas/AudienceIdTargetTypeSchema"
                      - $ref: "#/components/schemas/PageIdTargetTypeSchema"
                      - $ref: "#/components/schemas/PageIdRoutingTableTargetTypeSchema"
                  - type: "null"
              createdAt:
                $ref: "#/components/schemas/UnnamedSchema"
              updatedAt:
                $ref: "#/components/schemas/UnnamedSchema"
              deletedAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
            required:
              - pageLinkId
              - tenantDomainId
              - path
              - target
              - createdAt
              - updatedAt
              - deletedAt
            additionalProperties: false
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetPerson:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostPerson"
        nextCursor:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
        totalCount:
          anyOf:
            - type: integer
              minimum: 0
              maximum: 9007199254740991
            - type: "null"
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetPersonLogResponse:
      type: object
      properties:
        personId:
          type: string
          minLength: 1
          description: The person that owns the log entry
        personLogId:
          type: string
          minLength: 1
          description: Stable person log entry ID
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Source"
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
        idempotencyKey:
          anyOf:
            - type: string
              minLength: 1
              maxLength: 255
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        deletedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
      required:
        - personId
        - personLogId
        - source
        - type
        - payload
        - idempotencyKey
        - createdAt
        - updatedAt
        - deletedAt
      additionalProperties: false
    GetSearch:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              audiencesCount:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              name:
                type: string
              pageId:
                type: string
              pageType:
                type: string
                enum:
                  - inbound
                  - outbound
                  - call_followup
                  - sales_deck
                  - custom
            required:
              - audiencesCount
              - name
              - pageId
              - pageType
            additionalProperties: false
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          anyOf:
            - type: integer
              minimum: 0
              maximum: 9007199254740991
            - type: "null"
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetSearch_0:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              audienceId:
                type: string
              effectiveName:
                type: string
              pageId:
                type: string
              pageName:
                type: string
            required:
              - audienceId
              - effectiveName
              - pageId
              - pageName
            additionalProperties: false
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          anyOf:
            - type: integer
              minimum: 0
              maximum: 9007199254740991
            - type: "null"
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetSummary:
      type: object
      properties:
        avgInteractionsPerSession:
          type: number
        avgScrollDepthPercentage:
          anyOf:
            - type: number
            - type: "null"
        avgTimeSpentSeconds:
          anyOf:
            - type: number
            - type: "null"
        bounceRate:
          type: number
        conversionRate:
          type: number
        formSubmitRate:
          type: number
        totalSessions:
          type: number
      required:
        - avgInteractionsPerSession
        - avgScrollDepthPercentage
        - avgTimeSpentSeconds
        - bounceRate
        - conversionRate
        - formSubmitRate
        - totalSessions
      additionalProperties: false
    GetTopic:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostTopic"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetVersion:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostVersion"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetWebhookSubscription:
      type: object
      properties:
        hasMore:
          type: boolean
          description: Whether more webhook subscriptions are available
        items:
          type: array
          items:
            $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
          description: Total number of webhook subscriptions returned by the current query
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetWebhookSubscriptionResponse:
      type: object
      properties:
        subscriptionId:
          type: string
          description: Unique subscription identifier
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
                description: Supported outbound webhook event types. `page.version.*` events correspond to Audience version lifecycle changes in Customer API terminology.
              description: Subscribed event types. `null` means the subscription receives every supported event.
            - type: "null"
        active:
          type: boolean
          description: Whether the subscription is active
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
      required:
        - subscriptionId
        - url
        - events
        - active
        - createdAt
        - updatedAt
      additionalProperties: false
    Image:
      type: object
      properties:
        altText:
          default: null
          anyOf:
            - type: string
            - type: "null"
        url:
          default: null
          anyOf:
            - type: string
            - type: "null"
        fileId:
          default: null
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        assetId:
          default: null
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
      required:
        - altText
        - url
        - fileId
        - assetId
      additionalProperties: false
    Metadata:
      type: object
      properties:
        title:
          anyOf:
            - type: string
            - type: "null"
        description:
          anyOf:
            - type: string
            - type: "null"
        keywords:
          anyOf:
            - type: array
              items:
                type: string
            - type: "null"
        author:
          anyOf:
            - type: string
            - type: "null"
        robots:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - index
                  - noindex
                  - follow
                  - nofollow
                  - noarchive
                  - nosnippet
                  - noimageindex
                  - none
            - type: "null"
        canonicalUrl:
          anyOf:
            - type: string
            - type: "null"
        ogTitle:
          anyOf:
            - type: string
            - type: "null"
        ogDescription:
          anyOf:
            - type: string
            - type: "null"
        ogType:
          anyOf:
            - type: string
              enum:
                - website
                - article
                - product
                - profile
            - type: "null"
        ogImageUrl:
          anyOf:
            - type: string
            - type: "null"
        ogImageFileId:
          anyOf:
            - type: string
            - type: "null"
        ogImageAlt:
          anyOf:
            - type: string
            - type: "null"
        ogSiteName:
          anyOf:
            - type: string
            - type: "null"
        ogUrl:
          anyOf:
            - type: string
            - type: "null"
        twitterCard:
          anyOf:
            - type: string
              enum:
                - summary
                - summary_large_image
                - app
                - player
            - type: "null"
        twitterTitle:
          anyOf:
            - type: string
            - type: "null"
        twitterDescription:
          anyOf:
            - type: string
            - type: "null"
        twitterImageUrl:
          anyOf:
            - type: string
            - type: "null"
        twitterImageFileId:
          anyOf:
            - type: string
            - type: "null"
        twitterImageAlt:
          anyOf:
            - type: string
            - type: "null"
        twitterSite:
          anyOf:
            - type: string
            - type: "null"
        twitterCreator:
          anyOf:
            - type: string
            - type: "null"
        themeColor:
          anyOf:
            - type: string
            - type: "null"
      additionalProperties: false
    Metadata1:
      type: object
      properties:
        title:
          type: string
          maxLength: 70
        description:
          type: string
          maxLength: 160
        keywords:
          maxItems: 10
          type: array
          items:
            type: string
        author:
          type: string
          maxLength: 100
        robots:
          type: array
          items:
            type: string
            enum:
              - index
              - noindex
              - follow
              - nofollow
              - noarchive
              - nosnippet
              - noimageindex
              - none
        canonicalUrl:
          $ref: "#/components/schemas/Url"
        ogTitle:
          type: string
          maxLength: 60
        ogDescription:
          type: string
          maxLength: 110
        ogType:
          type: string
          enum:
            - website
            - article
            - product
            - profile
        ogImage:
          $ref: "#/components/schemas/OgImage"
        ogImageAlt:
          type: string
          maxLength: 420
        ogSiteName:
          type: string
          maxLength: 100
        ogUrl:
          $ref: "#/components/schemas/Url"
        twitterCard:
          type: string
          enum:
            - summary
            - summary_large_image
            - app
            - player
        twitterTitle:
          type: string
          maxLength: 70
        twitterDescription:
          type: string
          maxLength: 200
        twitterImage:
          $ref: "#/components/schemas/OgImage"
        twitterImageAlt:
          type: string
          maxLength: 420
        twitterSite:
          $ref: "#/components/schemas/TwitterSite"
        twitterCreator:
          $ref: "#/components/schemas/TwitterSite"
        themeColor:
          $ref: "#/components/schemas/ThemeColor"
      additionalProperties: false
    NestedObject:
      type: object
      properties:
        image:
          $ref: "#/components/schemas/Image"
      required:
        - image
      additionalProperties: false
    NestedObject1:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        url:
          type: string
      required:
        - text
        - url
      additionalProperties: false
    NestedObject2:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
          minLength: 1
        url:
          type: string
          minLength: 1
      required:
        - text
        - url
      additionalProperties: false
    NestedObject3:
      type: object
      properties:
        changeId:
          type: string
        field:
          type: string
          enum:
            - supplementaryContext
            - metaTitle
            - metaDescription
            - metaKeywords
        previousValue:
          anyOf:
            - type: string
            - type: "null"
        newValue:
          anyOf:
            - type: string
            - type: "null"
        status:
          type: string
          enum:
            - applied
            - reverted
            - saved
      required:
        - changeId
        - field
        - previousValue
        - newValue
        - status
      additionalProperties: false
    OgImage:
      type: object
      properties:
        type:
          type: string
          const: file
        fileId:
          type: string
      required:
        - type
        - fileId
      additionalProperties: false
    PostAccount:
      type: object
      properties:
        accountId:
          $ref: "#/components/schemas/AccountId"
        domain:
          type: string
          minLength: 1
          description: Canonical account domain
        name:
          anyOf:
            - type: string
              minLength: 1
              maxLength: 255
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
        latestActivityAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        linkedPersons:
          type: array
          items:
            type: object
            properties:
              personId:
                type: string
                minLength: 1
                description: Linked person ID
              name:
                type: string
                minLength: 1
                maxLength: 255
                description: Person display name
              email:
                anyOf:
                  - type: string
                  - type: "null"
              domain:
                anyOf:
                  - type: string
                    minLength: 1
                  - type: "null"
              slug:
                type: string
                minLength: 1
                maxLength: 255
                description: Person routing slug
              phoneNumber:
                anyOf:
                  - type: string
                  - type: "null"
              linkedinProfileUrl:
                anyOf:
                  - type: string
                  - type: "null"
              createdAt:
                $ref: "#/components/schemas/UnnamedSchema"
              updatedAt:
                $ref: "#/components/schemas/UnnamedSchema"
            required:
              - personId
              - name
              - email
              - domain
              - slug
              - phoneNumber
              - linkedinProfileUrl
              - createdAt
              - updatedAt
            additionalProperties: false
      required:
        - accountId
        - domain
        - name
        - createdAt
        - updatedAt
        - latestActivityAt
        - linkedPersons
      additionalProperties: false
    PostAccountLog:
      type: object
      properties:
        accountId:
          $ref: "#/components/schemas/AccountId"
        accountLogId:
          type: string
          minLength: 1
          description: The created account log entry ID
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Source"
      required:
        - accountId
        - accountLogId
        - createdAt
        - source
        - type
      additionalProperties: false
    PostAsset:
      type: object
      properties:
        assetId:
          type: string
        tenantId:
          type: string
        name:
          type: string
        purpose:
          type: string
        tags:
          type: array
          items:
            type: string
        aiDescription:
          anyOf:
            - type: string
            - type: "null"
        parentAssetId:
          anyOf:
            - type: string
            - type: "null"
        hidden:
          type: boolean
        data:
          anyOf:
            - $ref: "#/components/schemas/FileIdTypeSchema"
            - $ref: "#/components/schemas/FileIdTypeSchema"
            - $ref: "#/components/schemas/FileIdTypeSchema"
            - $ref: "#/components/schemas/TypeYoutubeUrlSchema"
            - $ref: "#/components/schemas/BodyPropsSchemaTypeSchema"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
        trashedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        deletedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        lifecycleState:
          type: string
          enum:
            - active
            - trashed
            - deleted
        downloadUrl:
          anyOf:
            - type: string
            - type: "null"
        previewDownloadUrl:
          anyOf:
            - type: string
            - type: "null"
      required:
        - assetId
        - tenantId
        - name
        - purpose
        - tags
        - aiDescription
        - parentAssetId
        - hidden
        - data
        - createdAt
        - updatedAt
        - trashedAt
        - deletedAt
        - lifecycleState
        - downloadUrl
        - previewDownloadUrl
      additionalProperties: false
    PostAudience:
      type: object
      properties:
        actionFormIdOverride:
          anyOf:
            - type: string
            - type: "null"
        actionFormInstructionsOverride:
          anyOf:
            - type: string
            - type: "null"
        actionUrlOverride:
          anyOf:
            - type: string
            - type: "null"
        archivedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        audienceId:
          type: string
        computedName:
          type: string
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        customName:
          anyOf:
            - type: string
            - type: "null"
        effectiveMetadata:
          $ref: "#/components/schemas/Metadata"
        effectiveName:
          type: string
        isNewPageAgent:
          type: boolean
        latestVersion:
          anyOf:
            - $ref: "#/components/schemas/PostVersion"
            - type: "null"
        metadataOverride:
          $ref: "#/components/schemas/Metadata"
        pageId:
          type: string
        personId:
          anyOf:
            - type: string
            - type: "null"
        personRouteKey:
          anyOf:
            - type: string
            - type: "null"
        publishedVersion:
          anyOf:
            - $ref: "#/components/schemas/PostVersion"
            - type: "null"
        status:
          type: string
          enum:
            - archived
            - cancelled
            - draft
            - pending
            - processing
            - published
            - queued
        supplementaryContext:
          anyOf:
            - type: string
            - type: "null"
      required:
        - actionFormIdOverride
        - actionFormInstructionsOverride
        - actionUrlOverride
        - archivedAt
        - audienceId
        - computedName
        - createdAt
        - customName
        - effectiveName
        - isNewPageAgent
        - latestVersion
        - pageId
        - personId
        - personRouteKey
        - publishedVersion
        - status
        - supplementaryContext
      additionalProperties: false
    PostEntrie:
      type: object
      properties:
        topicEntryId:
          type: string
        topicId:
          type: string
        sortOrder:
          type: number
        content:
          anyOf:
            - $ref: "#/components/schemas/ContentTypeSchema"
            - $ref: "#/components/schemas/AiSummaryFileIdTypeSchema"
            - type: object
              properties:
                type:
                  type: string
                  const: url
                url:
                  $ref: "#/components/schemas/Url"
                name:
                  anyOf:
                    - type: string
                    - type: "null"
                icon:
                  anyOf:
                    - $ref: "#/components/schemas/Url"
                    - type: "null"
                metaDescription:
                  default: null
                  anyOf:
                    - type: string
                    - type: "null"
                purpose:
                  default: null
                  anyOf:
                    - type: string
                    - type: "null"
                aiSummary:
                  anyOf:
                    - type: string
                    - type: "null"
                enrichmentStatus:
                  default: pending
                  type: string
                  enum:
                    - pending
                    - success
                    - failed
              required:
                - type
                - url
                - name
                - icon
                - metaDescription
                - purpose
                - aiSummary
                - enrichmentStatus
              additionalProperties: false
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
      required:
        - topicEntryId
        - topicId
        - sortOrder
        - content
        - createdAt
        - updatedAt
      additionalProperties: false
    PostMessage:
      type: object
      properties:
        accepted:
          type: boolean
          const: true
        audienceId:
          type: string
        clientMessageId:
          type: string
        versionId:
          type: string
      required:
        - accepted
        - audienceId
        - clientMessageId
        - versionId
      additionalProperties: false
    PostPage:
      type: object
      properties:
        actions:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/ActionIdActionIndexActionTypeButtonTitlePurposeUrlSchema"
              - $ref: "#/components/schemas/ActionIdActionIndexActionTypeButtonTitleFormIdFormInstructionsPurposeSchema"
              - $ref: "#/components/schemas/ActionIdActionIndexActionTypeButtonTitleCopyTextPurposeSchema"
        actionCardWidgets:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/LogosTitleTypeSchema"
              - $ref: "#/components/schemas/TypeVideoSchema"
        archivedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        audiencesCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        brandId:
          type: string
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        deletedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        footerLinks:
          type: array
          items:
            $ref: "#/components/schemas/FooterLink"
        headerActionId:
          type: string
        metadata:
          $ref: "#/components/schemas/Metadata"
        name:
          type: string
        pageContext:
          type: string
        pageId:
          type: string
        pageType:
          type: string
          enum:
            - inbound
            - outbound
            - call_followup
            - sales_deck
            - custom
        scripts:
          type: array
          items:
            $ref: "#/components/schemas/Script"
        status:
          type: string
          enum:
            - archived
            - draft
            - published
        title:
          type: string
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
      required:
        - actions
        - actionCardWidgets
        - archivedAt
        - audiencesCount
        - brandId
        - createdAt
        - deletedAt
        - footerLinks
        - name
        - pageContext
        - pageId
        - pageType
        - scripts
        - status
        - title
        - updatedAt
      additionalProperties: false
    PostPageLink:
      type: object
      properties:
        pageLinkId:
          type: string
        tenantDomainId:
          anyOf:
            - type: string
            - type: "null"
        path:
          type: string
        target:
          anyOf:
            - anyOf:
                - $ref: "#/components/schemas/AudienceIdTargetTypeSchema"
                - $ref: "#/components/schemas/PageIdTargetTypeSchema"
                - type: object
                  properties:
                    targetType:
                      type: string
                      const: page_routing
                    pageId:
                      type: string
                    routingTable:
                      anyOf:
                        - type: array
                          items:
                            anyOf:
                              - $ref: "#/components/schemas/AudienceIdWeightSchema"
                              - $ref: "#/components/schemas/PreserveQueryParamsTargetUrlWeightSchema"
                        - type: "null"
                  required:
                    - targetType
                    - pageId
                  additionalProperties: false
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
        deletedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
      required:
        - pageLinkId
        - tenantDomainId
        - path
        - target
        - createdAt
        - updatedAt
        - deletedAt
      additionalProperties: false
    PostPerson:
      type: object
      properties:
        personId:
          type: string
          minLength: 1
        name:
          type: string
        email:
          anyOf:
            - type: string
            - type: "null"
        domain:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
        slug:
          type: string
        phoneNumber:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        linkedinProfileUrl:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
      required:
        - personId
        - name
        - email
        - domain
        - slug
        - phoneNumber
        - linkedinProfileUrl
        - createdAt
        - updatedAt
      additionalProperties: false
    PostPersonLog:
      type: object
      properties:
        personId:
          type: string
          minLength: 1
          description: The person that received the log entry
        personLogId:
          type: string
          minLength: 1
          description: The created person log entry ID
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        createdPerson:
          type: boolean
          description: Whether the request auto-created a person before writing the log
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Source"
      required:
        - personId
        - personLogId
        - createdAt
        - createdPerson
        - source
        - type
      additionalProperties: false
    PostRestore:
      type: object
      properties:
        success:
          type: boolean
        messageId:
          type: string
      required:
        - success
        - messageId
      additionalProperties: false
    PostRevert:
      type: object
      properties:
        success:
          type: boolean
      required:
        - success
      additionalProperties: false
    PostTopic:
      type: object
      properties:
        topicId:
          type: string
        title:
          type: string
        purpose:
          anyOf:
            - type: string
            - type: "null"
        sortOrder:
          type: number
        isDefault:
          type: boolean
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
        entries:
          type: array
          items:
            $ref: "#/components/schemas/PostEntrie"
      required:
        - topicId
        - title
        - purpose
        - sortOrder
        - isDefault
        - createdAt
        - updatedAt
        - entries
      additionalProperties: false
    PostVersion:
      type: object
      properties:
        archivedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        audienceId:
          type: string
        becameDraftAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        cancelledAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        isNewPageAgent:
          type: boolean
        obsoleteAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        publishedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        queueDurationMs:
          anyOf:
            - type: number
            - type: "null"
        queuedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        status:
          type: string
          enum:
            - archived
            - cancelled
            - draft
            - pending
            - processing
            - published
            - queued
        supplementaryContext:
          anyOf:
            - type: string
            - type: "null"
        versionId:
          type: string
        versionNumber:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
      required:
        - archivedAt
        - audienceId
        - becameDraftAt
        - cancelledAt
        - createdAt
        - isNewPageAgent
        - obsoleteAt
        - publishedAt
        - queueDurationMs
        - queuedAt
        - status
        - supplementaryContext
        - versionId
        - versionNumber
      additionalProperties: false
    PostWebhookSubscription:
      type: object
      properties:
        subscriptionId:
          type: string
          description: Unique subscription identifier
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
                description: Supported outbound webhook event types. `page.version.*` events correspond to Audience version lifecycle changes in Customer API terminology.
[...]
