openapi: 3.1.0
info:
  contact:
    email: api-support@tryarchitect.com
    name: Architect
    url: https://tryarchitect.com
  description: The Customer API provides a RESTful API for external systems to integrate with the Architect platform.
  title: Architect - Customer API
  version: 0.0.1
servers:
  - description: Production environment
    url: https://api.tryarchitect.com
  - description: Beta environment
    url: https://api.beta.tryarchitect.com
  - description: Local environment
    url: http://localhost:25001
security:
  - apiKey: []
components:
  callbacks: {}
  examples:
    01Example:
      description: Example values extracted from schema defaults
      summary: 01 example
      value:
        title: null
    CreateAudienceRequestExample:
      description: Example values extracted from schema defaults
      summary: CreateAudienceRequest example
      value:
        publishBehavior: publish
    CreatePageRequestExample:
      description: Example values extracted from schema defaults
      summary: CreatePageRequest example
      value:
        actionCardWidgets: []
        pageType: inbound
        scripts: []
    CreateWebhookSubscriptionRequestExample:
      description: Example values extracted from schema defaults
      summary: CreateWebhookSubscriptionRequest example
      value:
        active: true
    ImageExample:
      description: Example values extracted from schema defaults
      summary: Image example
      value:
        altText: null
        url: null
        fileId: null
        assetId: null
    ScriptExample:
      description: Example values extracted from schema defaults
      summary: Script example
      value:
        enabled: true
    VideoExample:
      description: Example values extracted from schema defaults
      summary: Video example
      value:
        title: null
        youtubeUrl: null
        autoplay: false
        loop: false
        controls: true
        muted: null
  headers: {}
  links: {}
  parameters:
    AccountIdPath:
      in: path
      name: account_id
      description: account_id parameter
      required: true
      schema:
        type: string
    AudienceIdPath:
      in: path
      name: audience_id
      description: audience_id parameter
      required: true
      schema:
        type: string
    Cursor:
      description: Opaque cursor for pagination - use nextCursor from previous response
      in: query
      name: cursor
      required: false
      schema:
        type: string
    CursorQuery:
      in: query
      name: cursor
      description: cursor parameter
      required: false
      schema:
        type: string
    EndDateQuery:
      in: query
      name: endDate
      description: endDate parameter
      required: false
      schema:
        type: string
        format: date-time
    IncludeEmptyOnlyQuery:
      in: query
      name: includeEmptyOnly
      description: includeEmptyOnly parameter
      required: false
      schema:
        type: string
    Limit:
      description: Number of items to return (1-100, default 20)
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: number
    LimitQuery:
      in: query
      name: limit
      description: limit parameter
      required: false
      schema:
        type: number
    PageIdPath:
      in: path
      name: page_id
      description: page_id parameter
      required: true
      schema:
        type: string
    PageLinkIdPath:
      in: path
      name: page_link_id
      description: page_link_id parameter
      required: true
      schema:
        type: string
    PersonIdPath:
      in: path
      name: person_id
      description: person_id parameter
      required: true
      schema:
        type: string
    QueryQuery:
      in: query
      name: query
      description: query parameter
      required: false
      schema:
        type: string
    StartDateQuery:
      in: query
      name: startDate
      description: startDate parameter
      required: false
      schema:
        type: string
        format: date-time
    SubscriptionIdPath:
      in: path
      name: subscription_id
      description: The webhook subscription ID
      required: true
      schema:
        type: string
    TenantDomainIdQuery:
      in: query
      name: tenantDomainId
      description: Optional tenant domain ID for custom domain. If not provided, uses fallback subdomain.
      required: false
      schema:
        type: string
    VersionIdPath:
      in: path
      name: version_id
      description: version_id parameter
      required: true
      schema:
        type: string
  requestBodies:
    ArchiveBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateArchiveRequest"
      required: true
    VersionsBody:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateVersionRequest"
      required: true
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Bad request - Invalid query parameters
    CommonErrors:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Error response - covers authentication, authorization, rate limiting, and server errors
    GetAccountResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetAccount"
    GetPersonResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetPerson"
    GetWebhookSubscriptionResponseResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Resource not found
    PostAccountResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostAccount"
    PostAudienceResponse:
      description: Audience created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostAudience"
    PostInterruptResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostInterrupt"
    PostPageLinkResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostPageLink"
    PostPageResponse:
      description: Page created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostPage"
    PostPersonResponse:
      description: Person created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostPerson"
    PostVersionResponse:
      description: AudienceVersion created successfully
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostVersion"
  schemas:
    ActionIdActionIndexActionTypeButtonTitlePurposeUrlSchema:
      type: object
      properties:
        actionId:
          $ref: "#/components/schemas/ActionId"
        actionIndex:
          type: number
          description: Position in actions array
        purpose:
          type: string
          description: Business purpose or goal of this action
        buttonTitle:
          type: string
          description: Text displayed on the action button
        actionType:
          type: string
          const: open-url
        url:
          $ref: "#/components/schemas/Url"
      required:
        - actionId
        - actionIndex
        - purpose
        - buttonTitle
        - actionType
        - url
      additionalProperties: false
    ActionIdActionIndexActionTypeButtonTitleFormIdFormInstructionsPurposeSchema:
      type: object
      properties:
        actionId:
          $ref: "#/components/schemas/ActionId"
        actionIndex:
          type: number
          description: Position in actions array
        purpose:
          type: string
          description: Business purpose or goal of this action
        buttonTitle:
          type: string
          description: Text displayed on the action button
        actionType:
          type: string
          const: form
        formId:
          $ref: "#/components/schemas/FormId"
        formInstructions:
          type: string
      required:
        - actionId
        - actionIndex
        - purpose
        - buttonTitle
        - actionType
        - formId
      additionalProperties: false
    ActionIdActionIndexActionTypeButtonTitleCopyTextPurposeSchema:
      type: object
      properties:
        actionId:
          $ref: "#/components/schemas/ActionId"
        actionIndex:
          type: number
          description: Position in actions array
        purpose:
          type: string
          description: Business purpose or goal of this action
        buttonTitle:
          type: string
          description: Text displayed on the action button
        actionType:
          type: string
          const: copy-text
        copyText:
          type: string
          description: Text to copy to the visitor's clipboard when the action is triggered
      required:
        - actionId
        - actionIndex
        - purpose
        - buttonTitle
        - actionType
        - copyText
      additionalProperties: false
    TypeVideoSchema:
      type: object
      properties:
        type:
          type: string
          const: video
        video:
          $ref: "#/components/schemas/Video"
      required:
        - type
        - video
      additionalProperties: false
    ActionIdActionTypeButtonTitleFormIdFormInstructionsPurposeSchema:
      type: object
      properties:
        actionId:
          $ref: "#/components/schemas/ActionId"
        purpose:
          type: string
        buttonTitle:
          type: string
        actionType:
          type: string
          const: form
        formId:
          $ref: "#/components/schemas/FormId1"
        formInstructions:
          type: string
      required:
        - purpose
        - buttonTitle
        - actionType
        - formId
      additionalProperties: false
    PageIdRoutingTableTargetTypeSchema:
      type: object
      properties:
        targetType:
          type: string
          const: page
        pageId:
          type: string
        routingTable:
          anyOf:
            - type: array
              items:
                anyOf:
                  - $ref: "#/components/schemas/AudienceIdWeightSchema"
                  - $ref: "#/components/schemas/PreserveQueryParamsTargetUrlWeightSchema"
            - type: "null"
      required:
        - targetType
        - pageId
      additionalProperties: false
    PreserveQueryParamsTargetUrlWeightSchema:
      type: object
      properties:
        targetUrl:
          $ref: "#/components/schemas/Url"
        weight:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
        preserveQueryParams:
          type: boolean
      required:
        - targetUrl
        - weight
      additionalProperties: false
    ActionIdActionTypeButtonTitleCopyTextPurposeSchema:
      type: object
      properties:
        actionId:
          $ref: "#/components/schemas/ActionId"
        purpose:
          type: string
        buttonTitle:
          type: string
        actionType:
          type: string
          const: copy-text
        copyText:
          type: string
      required:
        - purpose
        - buttonTitle
        - actionType
        - copyText
      additionalProperties: false
    LogosTitleTypeSchema:
      type: object
      properties:
        type:
          type: string
          const: marquee
        title:
          default: null
          anyOf:
            - type: string
            - type: "null"
        logos:
          type: array
          items:
            $ref: "#/components/schemas/NestedObject"
      required:
        - type
        - title
        - logos
      additionalProperties: false
    UnnamedSchema:
      type: string
      minLength: 1
      pattern: ^accountlog_[a-z0-9]{26}$
    ActionIdActionTypeButtonTitlePurposeUrlSchema:
      type: object
      properties:
        actionId:
          $ref: "#/components/schemas/ActionId"
        purpose:
          type: string
        buttonTitle:
          type: string
        actionType:
          type: string
          const: open-url
        url:
          $ref: "#/components/schemas/Url"
      required:
        - purpose
        - buttonTitle
        - actionType
        - url
      additionalProperties: false
    AudienceIdTargetTypeSchema:
      type: object
      properties:
        targetType:
          type: string
          const: audience
        audienceId:
          type: string
      required:
        - targetType
        - audienceId
      additionalProperties: false
    AudienceIdWeightSchema:
      type: object
      properties:
        audienceId:
          type: string
        weight:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
      required:
        - audienceId
        - weight
      additionalProperties: false
    AccountId:
      type: string
      minLength: 1
      pattern: ^account_[a-z0-9]{26}$
    ActionId:
      type: string
      pattern: ^pagegroupaction_
      description: TypeID identifier for the action
    ArraySchema:
      type: array
      items:
        $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    CreateAccountLogRequest:
      type: object
      properties:
        accountId:
          $ref: "#/components/schemas/AccountId"
        domain:
          type: string
          minLength: 1
        name:
          type: string
          minLength: 1
          maxLength: 255
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Type"
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 255
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - source
        - type
        - payload
      additionalProperties: false
    CreateAccountRequest:
      type: object
      properties:
        domain:
          type: string
          minLength: 1
          description: Canonical account domain
        name:
          type: string
          minLength: 1
          maxLength: 255
      required:
        - domain
      additionalProperties: false
    CreateArchiveRequest:
      type: object
      properties: {}
      additionalProperties: false
    CreateAudienceRequest:
      type: object
      properties:
        actionFormIdOverride:
          type: string
        actionFormInstructionsOverride:
          type: string
        actionUrlOverride:
          $ref: "#/components/schemas/Url"
        customName:
          type: string
          minLength: 1
        metadataOverride:
          $ref: "#/components/schemas/Metadata1"
        publishBehavior:
          default: publish
          type: string
          enum:
            - draft
            - publish
        supplementaryContext:
          type: string
          minLength: 1
      required:
        - publishBehavior
      additionalProperties: false
    CreateInterruptRequest:
      type: object
      properties:
        partialText:
          type: string
          maxLength: 100000
      additionalProperties: false
    CreateMessageRequest:
      type: object
      properties:
        message:
          type: string
          minLength: 1
          maxLength: 8000
        clientMessageId:
          type: string
          minLength: 1
          maxLength: 100
        selectedElement:
          type: object
          properties:
            sectionId:
              type: string
              maxLength: 200
            elementId:
              type: string
              maxLength: 200
            elementType:
              type: string
              maxLength: 100
            sectionTitle:
              anyOf:
                - type: string
                  maxLength: 1000
                - type: "null"
            content:
              anyOf:
                - type: string
                  maxLength: 1000
                - type: "null"
            selectedText:
              anyOf:
                - type: string
                  maxLength: 1000
                - type: "null"
            componentIndex:
              type: integer
              minimum: 0
              maximum: 9007199254740991
            jsonPath:
              anyOf:
                - type: string
                  maxLength: 500
                - type: "null"
          required:
            - sectionId
            - elementId
            - elementType
            - sectionTitle
            - content
          additionalProperties: false
      required:
        - message
      additionalProperties: false
    CreatePageLinkRequest:
      type: object
      properties:
        tenantDomainId:
          anyOf:
            - type: string
            - type: "null"
        path:
          type: string
          minLength: 1
        target:
          anyOf:
            - $ref: "#/components/schemas/AudienceIdTargetTypeSchema"
            - type: object
              properties:
                targetType:
                  type: string
                  const: page
                pageId:
                  type: string
                routingTable:
                  anyOf:
                    - type: array
                      items:
                        anyOf:
                          - $ref: "#/components/schemas/AudienceIdWeightSchema"
                          - $ref: "#/components/schemas/PreserveQueryParamsTargetUrlWeightSchema"
                    - type: "null"
              required:
                - targetType
                - pageId
              additionalProperties: false
      required:
        - path
        - target
      additionalProperties: false
    CreatePageRequest:
      type: object
      properties:
        actions:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitlePurposeUrlSchema"
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitleFormIdFormInstructionsPurposeSchema"
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitleCopyTextPurposeSchema"
        actionCardWidgets:
          default: []
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/LogosTitleTypeSchema"
              - $ref: "#/components/schemas/TypeVideoSchema"
        brandId:
          type: string
        footerLinks:
          type: array
          items:
            $ref: "#/components/schemas/FooterLink"
        headerActionId:
          type: string
        metadata:
          $ref: "#/components/schemas/Metadata1"
        name:
          type: string
          minLength: 1
        pageContext:
          type: string
          minLength: 1
        pageType:
          default: inbound
          type: string
          enum:
            - inbound
            - outbound
            - call_followup
            - sales_deck
            - custom
        scripts:
          default: []
          type: array
          items:
            $ref: "#/components/schemas/Script"
      required:
        - actions
        - actionCardWidgets
        - brandId
        - footerLinks
        - name
        - pageContext
        - pageType
        - scripts
      additionalProperties: false
    CreatePersonLogRequest:
      type: object
      properties:
        personId:
          $ref: "#/components/schemas/PersonId"
        email:
          type: string
        phoneNumber:
          $ref: "#/components/schemas/UnnamedSchema"
        linkedinProfileUrl:
          type: string
          minLength: 1
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Type"
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 255
        payload:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - source
        - type
        - payload
      additionalProperties: false
    CreatePersonRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        email:
          type: string
        domain:
          type: string
          minLength: 1
        phoneNumber:
          $ref: "#/components/schemas/UnnamedSchema"
        linkedinProfileUrl:
          type: string
          minLength: 1
      required:
        - name
      additionalProperties: false
    CreateVersionRequest:
      type: object
      properties:
        operationKey:
          type: string
          minLength: 1
          maxLength: 128
      additionalProperties: false
    CreateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
        active:
          default: true
          description: Whether the subscription should be active
          examples:
            - true
          type: boolean
      required:
        - url
        - events
        - active
      additionalProperties: false
    DeletePageResponse:
      type: object
      properties:
        success:
          type: boolean
          const: true
      required:
        - success
      additionalProperties: false
    Error:
      properties:
        code:
          enum:
            - UNAUTHORIZED
            - FORBIDDEN
            - NOT_FOUND
            - VALIDATION_ERROR
            - CONFLICT
            - RATE_LIMITED
            - INTERNAL
          examples:
            - VALIDATION_ERROR
            - UNAUTHORIZED
            - NOT_FOUND
          type: string
        details:
          examples:
            - field: name
              reason: Name is required
        message:
          examples:
            - Validation failed
            - Authentication required
            - Resource not found
            - Rate limit exceeded
          type: string
        requestId:
          examples:
            - req_01j5k9m7n8p9q2r3s4t5v6w7x8
          type: string
      required:
        - code
        - message
        - requestId
      type: object
    FooterLink:
      type: object
      properties:
        id:
          type: string
        links:
          type: array
          items:
            $ref: "#/components/schemas/NestedObject1"
        title:
          type: string
      required:
        - links
        - title
      additionalProperties: false
    FormId:
      type: string
      pattern: ^form_
      description: TypeID identifier for the form to display
    FormId1:
      type: string
      minLength: 1
      pattern: ^form_[a-z0-9]{26}$
    GetAccount:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              accountId:
                $ref: "#/components/schemas/AccountId"
              tenantId:
                type: string
              domain:
                type: string
                minLength: 1
              name:
                anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: "null"
              createdAt:
                $ref: "#/components/schemas/UnnamedSchema"
              updatedAt:
                $ref: "#/components/schemas/UnnamedSchema"
              latestActivityAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
              linkedPersonsCount:
                type: integer
                minimum: 0
                maximum: 9007199254740991
            required:
              - accountId
              - tenantId
              - domain
              - name
              - createdAt
              - updatedAt
              - latestActivityAt
              - linkedPersonsCount
            additionalProperties: false
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetActivity:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              activityId:
                type: string
                minLength: 1
                description: Stable identifier for the activity item
              activityType:
                type: string
                enum:
                  - account-log-entry
                  - person-log-entry
                description: Whether the activity originated from the account itself or a linked person
              accountId:
                $ref: "#/components/schemas/AccountId"
              accountLogId:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
              personId:
                anyOf:
                  - $ref: "#/components/schemas/PersonId"
                  - type: "null"
              personLogId:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
              personName:
                anyOf:
                  - type: string
                  - type: "null"
              source:
                $ref: "#/components/schemas/Source"
              type:
                $ref: "#/components/schemas/Source"
              payload:
                type: object
                propertyNames:
                  type: string
                additionalProperties: {}
              idempotencyKey:
                anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: "null"
              createdAt:
                $ref: "#/components/schemas/UnnamedSchema"
              updatedAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
              deletedAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
            required:
              - activityId
              - activityType
              - accountId
              - accountLogId
              - personId
              - personLogId
              - personName
              - source
              - type
              - payload
              - idempotencyKey
              - createdAt
              - updatedAt
              - deletedAt
            additionalProperties: false
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        hasMore:
          type: boolean
        nextOffset:
          anyOf:
            - type: integer
              minimum: 0
              maximum: 9007199254740991
            - type: "null"
      required:
        - items
        - totalCount
        - hasMore
        - nextOffset
      additionalProperties: false
    GetAudience:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              avgInteractionsPerSession:
                type: number
              avgScrollDepthPercentage:
                anyOf:
                  - type: number
                  - type: "null"
              avgTimeSpentSeconds:
                anyOf:
                  - type: number
                  - type: "null"
              bounceRate:
                type: number
              conversionRate:
                type: number
              formSubmitRate:
                type: number
              totalSessions:
                type: number
              audienceId:
                type: string
              bounceCount:
                type: number
              bounceEligibleSessions:
                type: number
              conversionCount:
                type: number
              ctaSessions:
                type: number
              formSubmitCount:
                type: number
            required:
              - avgInteractionsPerSession
              - avgScrollDepthPercentage
              - avgTimeSpentSeconds
              - bounceRate
              - conversionRate
              - formSubmitRate
              - totalSessions
              - audienceId
              - bounceCount
              - bounceEligibleSessions
              - conversionCount
              - ctaSessions
              - formSubmitCount
            additionalProperties: false
      required:
        - items
      additionalProperties: false
    GetAudienceSession:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              analyticsSessionId:
                type: string
              audienceId:
                anyOf:
                  - type: string
                  - type: "null"
              audienceSessionId:
                anyOf:
                  - type: string
                  - type: "null"
              computationStatus:
                type: string
                enum:
                  - pending
                  - completed
                  - failed
              formSubmissionEmail:
                anyOf:
                  - type: string
                  - type: "null"
              formSubmissionId:
                anyOf:
                  - type: string
                  - type: "null"
              formSubmissionIdentifier:
                anyOf:
                  - type: string
                  - type: "null"
              formSubmissionIdentifierType:
                anyOf:
                  - type: string
                    enum:
                      - email
                      - linkedin
                      - tel
                  - type: "null"
              formSubmissionPhone:
                anyOf:
                  - type: string
                  - type: "null"
              hasConversion:
                type: boolean
              hasFormSubmit:
                type: boolean
              isBounce:
                type: boolean
              maxScrollDepthPercentage:
                anyOf:
                  - type: number
                  - type: "null"
              pageId:
                anyOf:
                  - type: string
                  - type: "null"
              pageTitle:
                anyOf:
                  - type: string
                  - type: "null"
              pageUrl:
                anyOf:
                  - type: string
                  - type: "null"
              questionsAskedCount:
                type: number
              sessionEndedAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
              sessionStartedAt:
                $ref: "#/components/schemas/UnnamedSchema"
              timeSpentSeconds:
                anyOf:
                  - type: number
                  - type: "null"
              totalClicksCount:
                type: number
              utmCampaign:
                anyOf:
                  - type: string
                  - type: "null"
              utmContent:
                anyOf:
                  - type: string
                  - type: "null"
              utmMedium:
                anyOf:
                  - type: string
                  - type: "null"
              utmSource:
                anyOf:
                  - type: string
                  - type: "null"
              utmTerm:
                anyOf:
                  - type: string
                  - type: "null"
            required:
              - analyticsSessionId
              - audienceId
              - audienceSessionId
              - computationStatus
              - formSubmissionEmail
              - formSubmissionId
              - formSubmissionIdentifier
              - formSubmissionIdentifierType
              - formSubmissionPhone
              - hasConversion
              - hasFormSubmit
              - isBounce
              - maxScrollDepthPercentage
              - pageId
              - pageTitle
              - pageUrl
              - questionsAskedCount
              - sessionEndedAt
              - sessionStartedAt
              - timeSpentSeconds
              - totalClicksCount
              - utmCampaign
              - utmContent
              - utmMedium
              - utmSource
              - utmTerm
            additionalProperties: false
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetAudience_0:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostAudience"
        nextCursor:
          type: string
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - totalCount
      additionalProperties: false
    GetInteraction:
      type: object
      properties:
        found:
          type: boolean
        interactions:
          type: array
          items:
            type: object
            properties:
              componentContext:
                anyOf:
                  - type: string
                  - type: "null"
              componentId:
                type: string
              groundingChunkIds:
                type: array
                items:
                  type: string
              label:
                type: string
              options:
                type: array
                items:
                  type: string
              responseText:
                type: string
              timestamp:
                type: number
            required:
              - componentContext
              - componentId
              - groundingChunkIds
              - label
              - options
              - responseText
              - timestamp
            additionalProperties: false
      required:
        - found
        - interactions
      additionalProperties: false
    GetLink:
      type: object
      properties:
        url:
          type: string
          description: Full shareable URL for the page
        domain:
          type: string
          description: Domain used in the URL
        path:
          type: string
          description: Path portion of the URL
      required:
        - url
        - domain
        - path
      additionalProperties: false
    GetMessage:
      type: object
      properties:
        conversation:
          anyOf:
            - type: object
              properties:
                conversationId:
                  type: string
                audienceId:
                  type: string
                publishedMessageId:
                  anyOf:
                    - type: string
                    - type: "null"
                createdAt:
                  $ref: "#/components/schemas/UnnamedSchema"
                updatedAt:
                  $ref: "#/components/schemas/UnnamedSchema"
              required:
                - conversationId
                - audienceId
                - publishedMessageId
                - createdAt
                - updatedAt
              additionalProperties: false
            - type: "null"
        messages:
          type: array
          items:
            type: object
            properties:
              messageId:
                type: string
              role:
                type: string
                enum:
                  - user
                  - assistant
              content:
                type: string
              timestamp:
                type: number
              hasSnapshot:
                type: boolean
              toolCalls:
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        arguments:
                          type: object
                          propertyNames:
                            type: string
                          additionalProperties: {}
                        status:
                          type: string
                          enum:
                            - running
                            - complete
                        result: {}
                        error:
                          type: string
                      required:
                        - id
                        - name
                        - status
                      additionalProperties: false
                  - type: "null"
              changes:
                anyOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/NestedObject2"
                  - type: "null"
              contentParts:
                anyOf:
                  - type: array
                    items:
                      anyOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              const: text
                            text:
                              type: string
                          required:
                            - type
                            - text
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              const: tool-call
                            toolCallId:
                              type: string
                          required:
                            - type
                            - toolCallId
                          additionalProperties: false
                        - type: object
                          properties:
                            type:
                              type: string
                              const: error
                            variant:
                              type: string
                              enum:
                                - generic
                                - provider-outage
                            title:
                              type: string
                            message:
                              type: string
                            provider:
                              type: string
                            incidentTitle:
                              type: string
                            statusPageUrl:
                              type: string
                          required:
                            - type
                            - variant
                            - title
                            - message
                          additionalProperties: false
                  - type: "null"
              reasoning:
                anyOf:
                  - type: string
                  - type: "null"
              isInterrupted:
                type: boolean
            required:
              - messageId
              - role
              - content
              - timestamp
              - hasSnapshot
              - toolCalls
              - changes
              - contentParts
              - reasoning
              - isInterrupted
            additionalProperties: false
        context:
          type: object
          properties:
            audienceId:
              type: string
            pageId:
              type: string
            tenantId:
              type: string
            currentSupplementaryContext:
              anyOf:
                - type: string
                - type: "null"
            currentMetaTitle:
              anyOf:
                - type: string
                - type: "null"
            currentMetaDescription:
              anyOf:
                - type: string
                - type: "null"
            currentMetaKeywords:
              anyOf:
                - type: string
                - type: "null"
            pageContext:
              type: string
          required:
            - audienceId
            - pageId
            - tenantId
            - currentSupplementaryContext
            - currentMetaTitle
            - currentMetaDescription
            - currentMetaKeywords
            - pageContext
          additionalProperties: false
        pendingChanges:
          type: array
          items:
            $ref: "#/components/schemas/NestedObject2"
      required:
        - conversation
        - messages
        - context
        - pendingChanges
      additionalProperties: false
    GetPage:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostPage"
        nextCursor:
          type: string
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - totalCount
      additionalProperties: false
    GetPageLink:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              pageLinkId:
                type: string
              tenantDomainId:
                anyOf:
                  - type: string
                  - type: "null"
              path:
                type: string
              target:
                anyOf:
                  - anyOf:
                      - $ref: "#/components/schemas/AudienceIdTargetTypeSchema"
                      - $ref: "#/components/schemas/PageIdRoutingTableTargetTypeSchema"
                  - type: "null"
              createdAt:
                $ref: "#/components/schemas/UnnamedSchema"
              updatedAt:
                $ref: "#/components/schemas/UnnamedSchema"
              deletedAt:
                anyOf:
                  - $ref: "#/components/schemas/UnnamedSchema"
                  - type: "null"
            required:
              - pageLinkId
              - tenantDomainId
              - path
              - target
              - createdAt
              - updatedAt
              - deletedAt
            additionalProperties: false
        nextCursor:
          anyOf:
            - type: string
            - type: "null"
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetPerson:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostPerson"
        nextCursor:
          anyOf:
            - $ref: "#/components/schemas/PersonId"
            - type: "null"
        totalCount:
          anyOf:
            - type: integer
              minimum: 0
              maximum: 9007199254740991
            - type: "null"
      required:
        - hasMore
        - items
        - nextCursor
        - totalCount
      additionalProperties: false
    GetSearch:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              audiencesCount:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              name:
                type: string
              pageId:
                type: string
              pageType:
                type: string
                enum:
                  - inbound
                  - outbound
                  - call_followup
                  - sales_deck
                  - custom
            required:
              - audiencesCount
              - name
              - pageId
              - pageType
            additionalProperties: false
      required:
        - items
      additionalProperties: false
    GetSearch_0:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              audienceId:
                type: string
              effectiveName:
                type: string
              pageId:
                type: string
              pageName:
                type: string
            required:
              - audienceId
              - effectiveName
              - pageId
              - pageName
            additionalProperties: false
      required:
        - items
      additionalProperties: false
    GetSummary:
      type: object
      properties:
        avgInteractionsPerSession:
          type: number
        avgScrollDepthPercentage:
          anyOf:
            - type: number
            - type: "null"
        avgTimeSpentSeconds:
          anyOf:
            - type: number
            - type: "null"
        bounceRate:
          type: number
        conversionRate:
          type: number
        formSubmitRate:
          type: number
        totalSessions:
          type: number
      required:
        - avgInteractionsPerSession
        - avgScrollDepthPercentage
        - avgTimeSpentSeconds
        - bounceRate
        - conversionRate
        - formSubmitRate
        - totalSessions
      additionalProperties: false
    GetVersion:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            $ref: "#/components/schemas/PostVersion"
        nextCursor:
          type: string
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
        - hasMore
        - items
        - totalCount
      additionalProperties: false
    GetWebhookSubscriptionResponse:
      type: object
      properties:
        subscriptionId:
          type: string
          description: Unique subscription identifier
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
            - type: "null"
        active:
          type: boolean
          description: Whether the subscription is active
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
      required:
        - subscriptionId
        - url
        - events
        - active
        - createdAt
        - updatedAt
      additionalProperties: false
    Image:
      type: object
      properties:
        altText:
          default: null
          anyOf:
            - type: string
            - type: "null"
        url:
          default: null
          anyOf:
            - type: string
            - type: "null"
        fileId:
          default: null
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        assetId:
          default: null
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
      required:
        - altText
        - url
        - fileId
        - assetId
      additionalProperties: false
    Metadata:
      type: object
      properties:
        title:
          anyOf:
            - type: string
            - type: "null"
        description:
          anyOf:
            - type: string
            - type: "null"
        keywords:
          anyOf:
            - type: array
              items:
                type: string
            - type: "null"
        author:
          anyOf:
            - type: string
            - type: "null"
        robots:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - index
                  - noindex
                  - follow
                  - nofollow
                  - noarchive
                  - nosnippet
                  - noimageindex
                  - none
            - type: "null"
        canonicalUrl:
          anyOf:
            - type: string
            - type: "null"
        ogTitle:
          anyOf:
            - type: string
            - type: "null"
        ogDescription:
          anyOf:
            - type: string
            - type: "null"
        ogType:
          anyOf:
            - type: string
              enum:
                - website
                - article
                - product
                - profile
            - type: "null"
        ogImageUrl:
          anyOf:
            - type: string
            - type: "null"
        ogImageFileId:
          anyOf:
            - type: string
            - type: "null"
        ogImageAlt:
          anyOf:
            - type: string
            - type: "null"
        ogSiteName:
          anyOf:
            - type: string
            - type: "null"
        ogUrl:
          anyOf:
            - type: string
            - type: "null"
        twitterCard:
          anyOf:
            - type: string
              enum:
                - summary
                - summary_large_image
                - app
                - player
            - type: "null"
        twitterTitle:
          anyOf:
            - type: string
            - type: "null"
        twitterDescription:
          anyOf:
            - type: string
            - type: "null"
        twitterImageUrl:
          anyOf:
            - type: string
            - type: "null"
        twitterImageFileId:
          anyOf:
            - type: string
            - type: "null"
        twitterImageAlt:
          anyOf:
            - type: string
            - type: "null"
        twitterSite:
          anyOf:
            - type: string
            - type: "null"
        twitterCreator:
          anyOf:
            - type: string
            - type: "null"
        themeColor:
          anyOf:
            - type: string
            - type: "null"
      additionalProperties: false
    Metadata1:
      type: object
      properties:
        title:
          type: string
          maxLength: 70
        description:
          type: string
          maxLength: 160
        keywords:
          type: array
          items:
            type: string
        author:
          type: string
          maxLength: 100
        robots:
          type: array
          items:
            type: string
            enum:
              - index
              - noindex
              - follow
              - nofollow
              - noarchive
              - nosnippet
              - noimageindex
              - none
        canonicalUrl:
          $ref: "#/components/schemas/Url"
        ogTitle:
          type: string
          maxLength: 60
        ogDescription:
          type: string
          maxLength: 110
        ogType:
          type: string
          enum:
            - website
            - article
            - product
            - profile
        ogImage:
          $ref: "#/components/schemas/OgImage"
        ogImageAlt:
          type: string
          maxLength: 420
        ogSiteName:
          type: string
          maxLength: 100
        ogUrl:
          $ref: "#/components/schemas/Url"
        twitterCard:
          type: string
          enum:
            - summary
            - summary_large_image
            - app
            - player
        twitterTitle:
          type: string
          maxLength: 70
        twitterDescription:
          type: string
          maxLength: 200
        twitterImage:
          $ref: "#/components/schemas/OgImage"
        twitterImageAlt:
          type: string
          maxLength: 420
        twitterSite:
          $ref: "#/components/schemas/TwitterSite"
        twitterCreator:
          $ref: "#/components/schemas/TwitterSite"
        themeColor:
          $ref: "#/components/schemas/ThemeColor"
      additionalProperties: false
    NestedObject:
      type: object
      properties:
        image:
          $ref: "#/components/schemas/Image"
      required:
        - image
      additionalProperties: false
    NestedObject1:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        url:
          type: string
      required:
        - text
        - url
      additionalProperties: false
    NestedObject2:
      type: object
      properties:
        changeId:
          type: string
        field:
          type: string
          enum:
            - supplementaryContext
            - metaTitle
            - metaDescription
            - metaKeywords
        previousValue:
          anyOf:
            - type: string
            - type: "null"
        newValue:
          anyOf:
            - type: string
            - type: "null"
        status:
          type: string
          enum:
            - applied
            - reverted
            - saved
      required:
        - changeId
        - field
        - previousValue
        - newValue
        - status
      additionalProperties: false
    OgImage:
      type: object
      properties:
        type:
          type: string
          const: file
        fileId:
          type: string
      required:
        - type
        - fileId
      additionalProperties: false
    PersonId:
      type: string
      minLength: 1
      pattern: ^prospect_[a-z0-9]{26}$
    PostAccount:
      type: object
      properties:
        accountId:
          $ref: "#/components/schemas/AccountId"
        tenantId:
          type: string
          description: Tenant ID that owns the account
        domain:
          type: string
          minLength: 1
          description: Canonical account domain
        name:
          anyOf:
            - type: string
              minLength: 1
              maxLength: 255
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
        latestActivityAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        linkedPersons:
          type: array
          items:
            type: object
            properties:
              personId:
                $ref: "#/components/schemas/PersonId"
              tenantId:
                type: string
                description: Tenant ID that owns the person
              name:
                type: string
                minLength: 1
                maxLength: 255
                description: Person display name
              email:
                anyOf:
                  - type: string
                  - type: "null"
              domain:
                anyOf:
                  - type: string
                    minLength: 1
                  - type: "null"
              slug:
                type: string
                minLength: 1
                maxLength: 255
                description: Person routing slug
              phoneNumber:
                anyOf:
                  - type: string
                  - type: "null"
              linkedinProfileUrl:
                anyOf:
                  - type: string
                  - type: "null"
              createdAt:
                $ref: "#/components/schemas/UnnamedSchema"
              updatedAt:
                $ref: "#/components/schemas/UnnamedSchema"
            required:
              - personId
              - tenantId
              - name
              - email
              - domain
              - slug
              - phoneNumber
              - linkedinProfileUrl
              - createdAt
              - updatedAt
            additionalProperties: false
      required:
        - accountId
        - tenantId
        - domain
        - name
        - createdAt
        - updatedAt
        - latestActivityAt
        - linkedPersons
      additionalProperties: false
    PostAccountLog:
      type: object
      properties:
        accountId:
          $ref: "#/components/schemas/AccountId"
        accountLogId:
          $ref: "#/components/schemas/UnnamedSchema"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Source"
      required:
        - accountId
        - accountLogId
        - createdAt
        - source
        - type
      additionalProperties: false
    PostAudience:
      type: object
      properties:
        actionFormIdOverride:
          anyOf:
            - type: string
            - type: "null"
        actionFormInstructionsOverride:
          anyOf:
            - type: string
            - type: "null"
        actionUrlOverride:
          anyOf:
            - type: string
            - type: "null"
        archivedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        audienceId:
          type: string
        computedName:
          type: string
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        customName:
          anyOf:
            - type: string
            - type: "null"
        effectiveMetadata:
          $ref: "#/components/schemas/Metadata"
        effectiveName:
          type: string
        isNewPageAgent:
          type: boolean
        latestVersion:
          anyOf:
            - $ref: "#/components/schemas/PostVersion"
            - type: "null"
        metadataOverride:
          $ref: "#/components/schemas/Metadata"
        pageId:
          type: string
        prospectId:
          anyOf:
            - type: string
            - type: "null"
        prospectRouteKey:
          anyOf:
            - type: string
            - type: "null"
        publishedVersion:
          anyOf:
            - $ref: "#/components/schemas/PostVersion"
            - type: "null"
        status:
          type: string
          enum:
            - archived
            - cancelled
            - draft
            - pending
            - processing
            - published
            - queued
        supplementaryContext:
          anyOf:
            - type: string
            - type: "null"
        tenantId:
          type: string
      required:
        - actionFormIdOverride
        - actionFormInstructionsOverride
        - actionUrlOverride
        - archivedAt
        - audienceId
        - computedName
        - createdAt
        - customName
        - effectiveName
        - isNewPageAgent
        - latestVersion
        - pageId
        - prospectId
        - prospectRouteKey
        - publishedVersion
        - status
        - supplementaryContext
        - tenantId
      additionalProperties: false
    PostInterrupt:
      type: object
      properties:
        success:
          type: boolean
      required:
        - success
      additionalProperties: false
    PostMessage:
      type: object
      properties:
        accepted:
          type: boolean
          const: true
        audienceId:
          type: string
        clientMessageId:
          type: string
        versionId:
          type: string
      required:
        - accepted
        - audienceId
        - clientMessageId
        - versionId
      additionalProperties: false
    PostPage:
      type: object
      properties:
        actions:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/ActionIdActionIndexActionTypeButtonTitlePurposeUrlSchema"
              - $ref: "#/components/schemas/ActionIdActionIndexActionTypeButtonTitleFormIdFormInstructionsPurposeSchema"
              - $ref: "#/components/schemas/ActionIdActionIndexActionTypeButtonTitleCopyTextPurposeSchema"
        actionCardWidgets:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/LogosTitleTypeSchema"
              - $ref: "#/components/schemas/TypeVideoSchema"
        archivedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        audiencesCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        brandId:
          type: string
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        deletedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        footerLinks:
          type: array
          items:
            $ref: "#/components/schemas/FooterLink"
        headerActionId:
          type: string
        metadata:
          $ref: "#/components/schemas/Metadata"
        name:
          type: string
        pageContext:
          type: string
        pageId:
          type: string
        pageType:
          type: string
          enum:
            - inbound
            - outbound
            - call_followup
            - sales_deck
            - custom
        scripts:
          type: array
          items:
            $ref: "#/components/schemas/Script"
        status:
          type: string
          enum:
            - archived
            - draft
            - published
        tenantId:
          type: string
        title:
          type: string
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
      required:
        - actions
        - actionCardWidgets
        - archivedAt
        - audiencesCount
        - brandId
        - createdAt
        - deletedAt
        - footerLinks
        - name
        - pageContext
        - pageId
        - pageType
        - scripts
        - status
        - tenantId
        - title
        - updatedAt
      additionalProperties: false
    PostPageLink:
      type: object
      properties:
        pageLinkId:
          type: string
        tenantDomainId:
          anyOf:
            - type: string
            - type: "null"
        path:
          type: string
        target:
          anyOf:
            - anyOf:
                - $ref: "#/components/schemas/AudienceIdTargetTypeSchema"
                - type: object
                  properties:
                    targetType:
                      type: string
                      const: page
                    pageId:
                      type: string
                    routingTable:
                      anyOf:
                        - type: array
                          items:
                            anyOf:
                              - $ref: "#/components/schemas/AudienceIdWeightSchema"
                              - $ref: "#/components/schemas/PreserveQueryParamsTargetUrlWeightSchema"
                        - type: "null"
                  required:
                    - targetType
                    - pageId
                  additionalProperties: false
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
        deletedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
      required:
        - pageLinkId
        - tenantDomainId
        - path
        - target
        - createdAt
        - updatedAt
        - deletedAt
      additionalProperties: false
    PostPerson:
      type: object
      properties:
        personId:
          $ref: "#/components/schemas/PersonId"
        tenantId:
          type: string
        name:
          type: string
        email:
          anyOf:
            - type: string
            - type: "null"
        domain:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
        slug:
          type: string
        phoneNumber:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        linkedinProfileUrl:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
      required:
        - personId
        - tenantId
        - name
        - email
        - domain
        - slug
        - phoneNumber
        - linkedinProfileUrl
        - createdAt
        - updatedAt
      additionalProperties: false
    PostPersonLog:
      type: object
      properties:
        personId:
          $ref: "#/components/schemas/PersonId"
        personLogId:
          $ref: "#/components/schemas/UnnamedSchema"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        createdPerson:
          type: boolean
          description: Whether the request auto-created a person before writing the log
        source:
          $ref: "#/components/schemas/Source"
        type:
          $ref: "#/components/schemas/Source"
      required:
        - personId
        - personLogId
        - createdAt
        - createdPerson
        - source
        - type
      additionalProperties: false
    PostVersion:
      type: object
      properties:
        archivedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        audienceId:
          type: string
        becameDraftAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        cancelledAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        isNewPageAgent:
          type: boolean
        obsoleteAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        publishedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        queueDurationMs:
          anyOf:
            - type: number
            - type: "null"
        queuedAt:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        status:
          type: string
          enum:
            - archived
            - cancelled
            - draft
            - pending
            - processing
            - published
            - queued
        supplementaryContext:
          anyOf:
            - type: string
            - type: "null"
        tenantId:
          type: string
        versionId:
          type: string
        versionNumber:
          type: integer
          exclusiveMinimum: 0
          maximum: 9007199254740991
      required:
        - archivedAt
        - audienceId
        - becameDraftAt
        - cancelledAt
        - createdAt
        - isNewPageAgent
        - obsoleteAt
        - publishedAt
        - queueDurationMs
        - queuedAt
        - status
        - supplementaryContext
        - tenantId
        - versionId
        - versionNumber
      additionalProperties: false
    PostWebhookSubscription:
      type: object
      properties:
        subscriptionId:
          type: string
          description: Unique subscription identifier
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
            - type: "null"
        active:
          type: boolean
          description: Whether the subscription is active
        createdAt:
          $ref: "#/components/schemas/UnnamedSchema"
        updatedAt:
          $ref: "#/components/schemas/UnnamedSchema"
        signingSecret:
          type: string
          description: The signing secret for the subscription
      required:
        - subscriptionId
        - url
        - events
        - active
        - createdAt
        - updatedAt
        - signingSecret
      additionalProperties: false
    Schema:
      anyOf:
        - type: object
          properties:
            messagesProcessed:
              type: integer
              minimum: 0
              maximum: 9007199254740991
            runToken:
              type: string
          required:
            - messagesProcessed
            - runToken
          additionalProperties: false
        - type: "null"
    Script:
      type: object
      properties:
        content:
          type: string
          maxLength: 50000
        description:
          type: string
          maxLength: 500
        enabled:
          default: true
          type: boolean
        injectionPoint:
          type: string
          enum:
            - head
            - body-start
            - body-end
        name:
          type: string
          minLength: 1
          maxLength: 100
      required:
        - content
        - enabled
        - injectionPoint
        - name
      additionalProperties: false
    Source:
      type: string
      minLength: 1
      maxLength: 100
      pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
      description: Stored activity source
    ThemeColor:
      type: string
      pattern: ^#[0-9A-Fa-f]{6}$
    TwitterSite:
      type: string
      pattern: ^@[A-Za-z0-9_]{1,15}$
    Type:
      default: webhook
      description: Kebab-case person activity type. Defaults to 'webhook' when omitted (e.g. 'contact-update')
      type: string
      minLength: 1
      maxLength: 100
      pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
    UpdateAccountRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: New account name
      required:
        - name
      additionalProperties: false
    UpdateAudienceRequest:
      type: object
      properties:
        actionFormIdOverride:
          anyOf:
            - type: string
            - type: "null"
        actionFormInstructionsOverride:
          anyOf:
            - type: string
            - type: "null"
        actionUrlOverride:
          anyOf:
            - $ref: "#/components/schemas/Url"
            - type: "null"
        customName:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
        metadataOverride:
          $ref: "#/components/schemas/Metadata1"
        supplementaryContext:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
      additionalProperties: false
    UpdatePageLinkRequest:
      type: object
      properties:
        tenantDomainId:
          anyOf:
            - type: string
            - type: "null"
        path:
          type: string
          minLength: 1
        target:
          anyOf:
            - $ref: "#/components/schemas/AudienceIdTargetTypeSchema"
            - type: object
              properties:
                targetType:
                  type: string
                  const: page
                pageId:
                  type: string
                routingTable:
                  anyOf:
                    - type: array
                      items:
                        anyOf:
                          - $ref: "#/components/schemas/AudienceIdWeightSchema"
                          - $ref: "#/components/schemas/PreserveQueryParamsTargetUrlWeightSchema"
                    - type: "null"
              required:
                - targetType
                - pageId
              additionalProperties: false
      additionalProperties: false
    UpdatePageRequest:
      type: object
      properties:
        actions:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitlePurposeUrlSchema"
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitleFormIdFormInstructionsPurposeSchema"
              - $ref: "#/components/schemas/ActionIdActionTypeButtonTitleCopyTextPurposeSchema"
        actionCardWidgets:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/LogosTitleTypeSchema"
              - $ref: "#/components/schemas/TypeVideoSchema"
        brandId:
          type: string
        footerLinks:
          type: array
          items:
            $ref: "#/components/schemas/FooterLink"
        headerActionId:
          anyOf:
            - type: string
            - type: "null"
        metadata:
          $ref: "#/components/schemas/Metadata1"
        name:
          type: string
          minLength: 1
        pageContext:
          type: string
          minLength: 1
        pageType:
          type: string
          enum:
            - inbound
            - outbound
            - call_followup
            - sales_deck
            - custom
        scripts:
          type: array
          items:
            $ref: "#/components/schemas/Script"
      additionalProperties: false
    UpdatePersonRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        email:
          anyOf:
            - type: string
            - type: "null"
        domain:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
        phoneNumber:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        linkedinProfileUrl:
          anyOf:
            - type: string
              minLength: 1
            - type: "null"
      additionalProperties: false
    UpdateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
        active:
          type: boolean
      additionalProperties: false
    Url:
      type: string
      format: uri
      description: URL to open when action is triggered
    Video:
      type: object
      properties:
        title:
          default: null
          anyOf:
            - type: string
            - type: "null"
        youtubeUrl:
          default: null
          anyOf:
            - type: string
            - type: "null"
        autoplay:
          default: false
          type: boolean
        loop:
          default: false
          type: boolean
        controls:
          default: true
          type: boolean
        muted:
          default: null
          anyOf:
            - type: boolean
            - type: "null"
      required:
        - title
        - youtubeUrl
        - autoplay
        - loop
        - controls
        - muted
      additionalProperties: false
  securitySchemes:
    apiKey:
      description: API key authentication for the External Actor Gateway
      in: header
      name: x-api-key
      type: apiKey
paths:
  /v0/account_logs:
    post:
      description: Create an account log entry using the authenticated API key's tenant context
      operationId: createAccountLog
      responses:
        "201":
          description: AccountLog created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostAccountLog"
      summary: Create account log entry
      tags:
        - Account Logs
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountLogRequest"
        required: true
  /v0/accounts:
    get:
      description: List accounts.
      operationId: listAccounts
      responses:
        "200":
          $ref: "#/components/responses/GetAccountResponse"
      summary: List accounts
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/IncludeEmptyOnlyQuery"
        - $ref: "#/components/parameters/LimitQuery"
    post:
      description: Create or return an account for a domain.
      operationId: createAccount
      responses:
        "200":
          $ref: "#/components/responses/PostAccountResponse"
      summary: Create account
      tags:
        - Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
        required: true
  /v0/accounts/search:
    get:
      description: Search accounts by name or domain.
      operationId: searchAccounts
      responses:
        "200":
          $ref: "#/components/responses/GetAccountResponse"
      summary: Search accounts
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/IncludeEmptyOnlyQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/QueryQuery"
  /v0/accounts/{account_id}:
    get:
      description: Retrieve a specific account by ID.
      operationId: getAccount
      responses:
        "200":
          $ref: "#/components/responses/PostAccountResponse"
      summary: Get account by ID
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/AccountIdPath"
    patch:
      description: Update an account by ID
      operationId: updateAccount
      responses:
        "200":
          $ref: "#/components/responses/PostAccountResponse"
      summary: Update account by ID
      tags:
        - Accounts
      parameters:
        - $ref: "#/components/parameters/AccountIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequest"
        required: true
  /v0/accounts/{account_id}/activity:
    get:
      description: Retrieve merged account activity, optionally including linked person activity
      operationId: listAccountActivity
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetActivity"
      summary: List account activity
      tags:
        - Account Activity
      parameters:
        - in: query
          name: includePersonActivity
          description: includePersonActivity parameter
          required: false
          schema:
            type: string
        - in: query
          name: includeDeleted
          description: includeDeleted parameter
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/LimitQuery"
        - in: query
          name: offset
          description: offset parameter
          required: false
          schema:
            type: number
        - $ref: "#/components/parameters/AccountIdPath"
  /v0/audience_sessions/{audience_session_id}/interactions:
    get:
      description: Get interaction history for an audience session.
      operationId: getAudienceSessionInteractions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInteraction"
      summary: Get audience session interactions
      tags:
        - Analytics
      parameters:
        - in: path
          name: audience_session_id
          description: audience_session_id parameter
          required: true
          schema:
            type: string
  /v0/audiences/search:
    get:
      description: Search audiences by name.
      operationId: searchAudiences
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSearch_0"
      summary: Search audiences
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/QueryQuery"
  /v0/page_links:
    get:
      description: List page links.
      operationId: listPageLinks
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageLink"
      summary: List page links
      tags:
        - Page Links
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - in: query
          name: pageId
          description: pageId parameter
          required: false
          schema:
            type: string
        - in: query
          name: path
          description: path parameter
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/TenantDomainIdQuery"
    post:
      description: Create a page link.
      operationId: createPageLink
      responses:
        "200":
          $ref: "#/components/responses/PostPageLinkResponse"
      summary: Create page link
      tags:
        - Page Links
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePageLinkRequest"
        required: true
  /v0/page_links/{page_link_id}:
    get:
      description: Retrieve a specific page link by ID.
      operationId: getPageLink
      responses:
        "200":
          $ref: "#/components/responses/PostPageLinkResponse"
      summary: Get page link by ID
      tags:
        - Page Links
      parameters:
        - $ref: "#/components/parameters/PageLinkIdPath"
    patch:
      description: Update a page link by ID.
      operationId: updatePageLink
      responses:
        "200":
          $ref: "#/components/responses/PostPageLinkResponse"
      summary: Update page link
      tags:
        - Page Links
      parameters:
        - $ref: "#/components/parameters/PageLinkIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePageLinkRequest"
        required: true
    delete:
      description: Delete a page link by ID.
      operationId: deletePageLink
      responses:
        "200":
          $ref: "#/components/responses/PostInterruptResponse"
      summary: Delete page link
      tags:
        - Page Links
      parameters:
        - $ref: "#/components/parameters/PageLinkIdPath"
  /v0/pages:
    get:
      description: List pages for the authenticated tenant.
      operationId: listPages
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPage"
      summary: List pages
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
    post:
      description: Create a page.
      operationId: createPage
      responses:
        "201":
          $ref: "#/components/responses/PostPageResponse"
      summary: Create page
      tags:
        - Pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePageRequest"
        required: true
  /v0/pages/search:
    get:
      description: Search pages by name.
      operationId: searchPages
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSearch"
      summary: Search pages
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/QueryQuery"
  /v0/pages/{page_id}:
    get:
      description: Get a page by ID.
      operationId: getPage
      responses:
        "200":
          $ref: "#/components/responses/PostPageResponse"
      summary: Get page
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
    patch:
      description: Update a page.
      operationId: updatePage
      responses:
        "200":
          $ref: "#/components/responses/PostPageResponse"
      summary: Update page
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePageRequest"
        required: true
    delete:
      description: Delete a page.
      operationId: deletePage
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePageResponse"
      summary: Delete page
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
  /v0/pages/{page_id}/analytics/audiences:
    get:
      description: Get analytics totals grouped by audience for a page.
      operationId: listAudienceAnalytics
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAudience"
      summary: List audience analytics
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/EndDateQuery"
        - $ref: "#/components/parameters/StartDateQuery"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/pages/{page_id}/analytics/summary:
    get:
      description: Get basic analytics totals for a page.
      operationId: getPageAnalyticsSummary
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSummary"
      summary: Get page analytics summary
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/EndDateQuery"
        - $ref: "#/components/parameters/StartDateQuery"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/pages/{page_id}/archive:
    post:
      description: Archive a page.
      operationId: archivePage
      responses:
        "200":
          $ref: "#/components/responses/PostPageResponse"
      summary: Archive page
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
      requestBody:
        $ref: "#/components/requestBodies/ArchiveBody"
  /v0/pages/{page_id}/audience_sessions:
    get:
      description: List audience sessions for a page.
      operationId: listAudienceSessions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAudienceSession"
      summary: List audience sessions
      tags:
        - Analytics
      parameters:
        - $ref: "#/components/parameters/EndDateQuery"
        - $ref: "#/components/parameters/StartDateQuery"
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/pages/{page_id}/audiences:
    get:
      description: List audiences for a page.
      operationId: listAudiences
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAudience_0"
      summary: List audiences
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/PageIdPath"
    post:
      description: Create an audience in a page.
      operationId: createAudience
      responses:
        "201":
          $ref: "#/components/responses/PostAudienceResponse"
      summary: Create audience
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAudienceRequest"
        required: true
  /v0/pages/{page_id}/audiences/{audience_id}:
    get:
      description: Get an audience.
      operationId: getAudience
      responses:
        "200":
          $ref: "#/components/responses/PostAudienceResponse"
      summary: Get audience
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
    patch:
      description: Update an audience.
      operationId: updateAudience
      responses:
        "200":
          $ref: "#/components/responses/PostAudienceResponse"
      summary: Update audience
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAudienceRequest"
        required: true
    delete:
      description: Archive an audience.
      operationId: archiveAudience
      responses:
        "200":
          $ref: "#/components/responses/PostAudienceResponse"
      summary: Archive audience
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
  /v0/pages/{page_id}/audiences/{audience_id}/link:
    get:
      description: Get the generated link for an audience.
      operationId: getAudienceLink
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLink"
      summary: Get audience link
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/TenantDomainIdQuery"
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
  /v0/pages/{page_id}/audiences/{audience_id}/messages:
    get:
      description: Get the message history for an audience draft conversation.
      operationId: getAudienceMessages
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMessage"
      summary: Get audience messages
      tags:
        - Audience Messages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
    post:
      description: Send a message to the audience draft editor.
      operationId: sendAudienceMessage
      responses:
        "202":
          description: Request accepted for processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostMessage"
      summary: Send audience message
      tags:
        - Audience Messages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMessageRequest"
        required: true
  /v0/pages/{page_id}/audiences/{audience_id}/messages/active_run:
    get:
      description: Get the active audience message run.
      operationId: getAudienceActiveRun
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schema"
      summary: Get audience active run
      tags:
        - Audience Messages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
  /v0/pages/{page_id}/audiences/{audience_id}/messages/interrupt:
    post:
      description: Interrupt the active audience message run.
      operationId: interruptAudienceMessage
      responses:
        "200":
          $ref: "#/components/responses/PostInterruptResponse"
      summary: Interrupt audience message
      tags:
        - Audience Messages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInterruptRequest"
        required: true
  /v0/pages/{page_id}/audiences/{audience_id}/restore:
    post:
      description: Restore an archived audience.
      operationId: restoreAudience
      responses:
        "200":
          $ref: "#/components/responses/PostAudienceResponse"
      summary: Restore audience
      tags:
        - Audiences
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
      requestBody:
        $ref: "#/components/requestBodies/ArchiveBody"
  /v0/pages/{page_id}/audiences/{audience_id}/versions:
    get:
      description: List versions for an audience.
      operationId: listAudienceVersions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVersion"
      summary: List audience versions
      tags:
        - Audience Versions
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - in: query
          name: include
          description: include parameter
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
    post:
      description: Create a new version for an audience.
      operationId: createAudienceVersion
      responses:
        "201":
          $ref: "#/components/responses/PostVersionResponse"
      summary: Create audience version
      tags:
        - Audience Versions
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
      requestBody:
        $ref: "#/components/requestBodies/VersionsBody"
  /v0/pages/{page_id}/audiences/{audience_id}/versions/{version_id}:
    get:
      description: Get an audience version.
      operationId: getAudienceVersion
      responses:
        "200":
          $ref: "#/components/responses/PostVersionResponse"
      summary: Get audience version
      tags:
        - Audience Versions
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
        - $ref: "#/components/parameters/VersionIdPath"
  /v0/pages/{page_id}/audiences/{audience_id}/versions/{version_id}/cancel:
    post:
      description: Cancel an audience version and keep it as a draft.
      operationId: cancelAudienceVersion
      responses:
        "200":
          $ref: "#/components/responses/PostVersionResponse"
      summary: Cancel audience version
      tags:
        - Audience Versions
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
        - $ref: "#/components/parameters/VersionIdPath"
      requestBody:
        $ref: "#/components/requestBodies/ArchiveBody"
  /v0/pages/{page_id}/audiences/{audience_id}/versions/{version_id}/publish:
    post:
      description: Publish an audience version.
      operationId: publishAudienceVersion
      responses:
        "200":
          $ref: "#/components/responses/PostVersionResponse"
      summary: Publish audience version
      tags:
        - Audience Versions
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
        - $ref: "#/components/parameters/AudienceIdPath"
        - $ref: "#/components/parameters/VersionIdPath"
      requestBody:
        $ref: "#/components/requestBodies/VersionsBody"
  /v0/pages/{page_id}/restore:
    post:
      description: Restore an archived page.
      operationId: restorePage
      responses:
        "200":
          $ref: "#/components/responses/PostPageResponse"
      summary: Restore page
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageIdPath"
      requestBody:
        $ref: "#/components/requestBodies/ArchiveBody"
  /v0/person_logs:
    post:
      description: Create a person log entry using the authenticated API key tenant context
      operationId: createPersonLog
      responses:
        "201":
[...]
