openapi: 3.1.0
info:
  contact:
    email: api-support@tryarchitect.com
    name: Architect
    url: https://tryarchitect.com
  description: The Customer API provides a RESTful API for external systems to integrate with the Architect platform.
  title: Architect - Customer API
  version: 0.0.1
servers:
  - description: Production environment
    url: https://api.tryarchitect.com
  - description: Beta environment
    url: https://api.beta.tryarchitect.com
  - description: Local environment
    url: http://localhost:25001
security:
  - apiKey: []
components:
  callbacks: {}
  examples:
    CreateWebhookSubscriptionRequestExample:
      description: Example values extracted from schema defaults
      summary: CreateWebhookSubscriptionRequest example
      value:
        active: true
  headers: {}
  links: {}
  parameters:
    Cursor:
      description: Opaque cursor for pagination - use nextCursor from previous response
      in: query
      name: cursor
      required: false
      schema:
        type: string
    CursorQuery:
      in: query
      name: cursor
      description: cursor parameter
      required: false
      schema:
        type: string
    Limit:
      description: Number of items to return (1-100, default 20)
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: number
    LimitQuery:
      in: query
      name: limit
      description: Number of page groups to return (1-100, default 20)
      required: false
      schema:
        type: number
    PageGroupIdPath:
      in: path
      name: page_group_id
      description: page_group_id parameter
      required: true
      schema:
        type: string
    PageIdPath:
      in: path
      name: page_id
      description: page_id parameter
      required: true
      schema:
        type: string
    SubscriptionIdPath:
      in: path
      name: subscription_id
      description: The webhook subscription ID
      required: true
      schema:
        type: string
  requestBodies: {}
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Bad request - Invalid query parameters
    CommonErrors:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Error response - covers authentication, authorization, rate limiting, and server errors
    GetTemplateResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetTemplate"
    GetWebhookSubscriptionResponseResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
      description: Resource not found
  schemas:
    UnnamedSchema:
      type: string
      pattern: ^pagetemplate_[0-9a-z]{26}$
    ArraySchema:
      type: array
      items:
        $ref: "#/components/schemas/GetWebhookSubscriptionResponse"
    CreatePageRequest:
      type: object
      properties:
        templateId:
          type: string
        supplementaryContext:
          type: string
        customName:
          type: string
      additionalProperties: false
    CreateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
        active:
          description: Whether the subscription should be active
          examples:
            - true
          default: true
          type: boolean
      required:
        - url
        - events
        - active
      additionalProperties: false
    CreatedAt:
      type: string
      format: date-time
      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
    DeleteWebhookSubscriptionResponse:
      type: object
      properties:
        success:
          description: Whether the deletion was successful
          type: boolean
      required:
        - success
      additionalProperties: false
    Error:
      properties:
        code:
          enum:
            - UNAUTHORIZED
            - FORBIDDEN
            - NOT_FOUND
            - VALIDATION_ERROR
            - CONFLICT
            - RATE_LIMITED
            - INTERNAL
          examples:
            - VALIDATION_ERROR
            - UNAUTHORIZED
            - NOT_FOUND
          type: string
        details:
          examples:
            - field: name
              reason: Name is required
        message:
          examples:
            - Validation failed
            - Authentication required
            - Resource not found
            - Rate limit exceeded
          type: string
        requestId:
          examples:
            - req_01j5k9m7n8p9q2r3s4t5v6w7x8
          type: string
      required:
        - code
        - message
        - requestId
      type: object
    GetHealthz:
      type: object
      properties:
        healthy:
          type: boolean
        service:
          type: string
        timestamp:
          type: string
        uptime:
          type: number
        version:
          type: string
      required:
        - healthy
        - service
        - timestamp
        - uptime
        - version
      additionalProperties: false
    GetLink:
      type: object
      properties:
        url:
          description: Full shareable URL for the page
          type: string
        domain:
          description: Domain used in the URL
          type: string
        path:
          description: Path portion of the URL
          type: string
      required:
        - url
        - domain
        - path
      additionalProperties: false
    GetPage:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              createdAt:
                type: string
              pageGroupId:
                type: string
              pageId:
                type: string
              tenantId:
                type: string
              updatedAt:
                type: string
              effectiveName:
                type: string
              customName:
                anyOf:
                  - type: string
                  - type: "null"
              computedName:
                type: string
            required:
              - createdAt
              - pageGroupId
              - pageId
              - tenantId
              - updatedAt
              - effectiveName
              - customName
              - computedName
            additionalProperties: false
        nextCursor:
          type: string
      required:
        - hasMore
        - items
      additionalProperties: false
    GetPageGroup:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              actions:
                type: array
                items: {}
              brandId:
                type: string
              createdAt:
                $ref: "#/components/schemas/CreatedAt"
              deletedAt:
                anyOf:
                  - $ref: "#/components/schemas/CreatedAt"
                  - type: "null"
              footerLinks:
                type: array
                items: {}
              headerActionId:
                type: string
              name:
                type: string
              pageContext:
                type: string
              pageGroupId:
                type: string
              pagesCount:
                type: number
              pageTemplateId:
                type: string
              scripts:
                type: array
                items: {}
              status:
                type: string
              tenantId:
                type: string
              title:
                type: string
              updatedAt:
                $ref: "#/components/schemas/CreatedAt"
            required:
              - actions
              - brandId
              - createdAt
              - deletedAt
              - footerLinks
              - name
              - pageContext
              - pageGroupId
              - pagesCount
              - pageTemplateId
              - scripts
              - status
              - tenantId
              - title
              - updatedAt
            additionalProperties: false
        limit:
          type: number
        nextCursor:
          type: string
      required:
        - hasMore
        - items
        - limit
      additionalProperties: false
    GetPageGroupResponse:
      type: object
      properties:
        brandId:
          type: string
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        actions:
          type: array
          items: {}
        deletedAt:
          anyOf:
            - $ref: "#/components/schemas/CreatedAt"
            - type: "null"
        footerLinks:
          type: array
          items: {}
        headerActionId:
          type: string
        metadata: {}
        name:
          type: string
        pageContext:
          type: string
        pageId:
          type: string
        pageTemplateId:
          type: string
        scripts:
          type: array
          items: {}
        tenantId:
          type: string
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
        variantsCount:
          type: number
      required:
        - brandId
        - createdAt
        - actions
        - deletedAt
        - footerLinks
        - name
        - pageContext
        - pageId
        - pageTemplateId
        - scripts
        - tenantId
        - updatedAt
        - variantsCount
      additionalProperties: false
    GetPageVersionResponse:
      type: object
      properties:
        createdAt:
          type: string
        id:
          type: string
        status:
          type: string
          enum:
            - pending
            - queued
            - processing
            - draft
            - published
            - archived
            - cancelled
        versionNumber:
          type: number
      required:
        - createdAt
        - id
        - status
        - versionNumber
      additionalProperties: false
    GetPageWithVersionResponse:
      type: object
      properties:
        pageId:
          description: The page ID
          type: string
        pageGroupId:
          description: The parent page group ID
          type: string
        tenantId:
          description: The tenant ID
          type: string
        createdAt:
          description: ISO 8601 creation timestamp
          type: string
        effectiveName:
          description: The effective name (custom or computed)
          type: string
        customName:
          anyOf:
            - type: string
            - type: "null"
        computedName:
          description: AI-computed name
          type: string
        supplementaryContext:
          anyOf:
            - type: string
            - type: "null"
        publishedVersion:
          anyOf:
            - type: object
              properties:
                versionId:
                  type: string
                versionNumber:
                  type: number
                publishedAt:
                  anyOf:
                    - type: string
                    - type: "null"
                templateId:
                  anyOf:
                    - type: string
                    - type: "null"
                templateVersion:
                  anyOf:
                    - type: number
                    - type: "null"
              required:
                - versionId
                - versionNumber
                - publishedAt
                - templateId
                - templateVersion
              additionalProperties: false
            - type: "null"
      required:
        - pageId
        - pageGroupId
        - tenantId
        - createdAt
        - effectiveName
        - customName
        - computedName
        - supplementaryContext
        - publishedVersion
      additionalProperties: false
    GetTemplate:
      type: object
      properties:
        hasMore:
          type: boolean
        items:
          type: array
          items:
            type: object
            properties:
              createdAt:
                type: string
              description:
                anyOf:
                  - type: string
                  - type: "null"
              isEditable:
                type: boolean
              isSystem:
                type: boolean
              name:
                type: string
              pageTemplateId:
                type: string
              sourcePageTemplateId:
                anyOf:
                  - type: string
                  - type: "null"
              templateContent:
                type: string
              updatedAt:
                anyOf:
                  - type: string
                  - type: "null"
              version:
                type: number
            required:
              - createdAt
              - description
              - isEditable
              - isSystem
              - name
              - pageTemplateId
              - sourcePageTemplateId
              - templateContent
              - updatedAt
              - version
            additionalProperties: false
        nextCursor:
          type: string
      required:
        - hasMore
        - items
      additionalProperties: false
    GetTemplateResponse:
      type: object
      properties:
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        description:
          anyOf:
            - type: string
            - type: "null"
        isEditable:
          type: boolean
        isSystem:
          type: boolean
        name:
          type: string
        pageTemplateId:
          $ref: "#/components/schemas/UnnamedSchema"
        sourcePageTemplateId:
          anyOf:
            - $ref: "#/components/schemas/UnnamedSchema"
            - type: "null"
        templateContent:
          type: string
        updatedAt:
          anyOf:
            - $ref: "#/components/schemas/CreatedAt"
            - type: "null"
        version:
          type: number
      required:
        - createdAt
        - description
        - isEditable
        - isSystem
        - name
        - pageTemplateId
        - sourcePageTemplateId
        - templateContent
        - updatedAt
        - version
      additionalProperties: false
    GetVersion:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/GetPageVersionResponse"
        page:
          type: object
          properties:
            hasMore:
              type: boolean
            totalCount:
              type: number
          required:
            - hasMore
            - totalCount
          additionalProperties: false
      required:
        - items
        - page
      additionalProperties: false
    GetWebhookSubscriptionResponse:
      type: object
      properties:
        id:
          description: Unique subscription identifier
          type: string
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
            - type: "null"
        active:
          description: Whether the subscription is active
          type: boolean
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
      required:
        - id
        - url
        - events
        - active
        - createdAt
        - updatedAt
      additionalProperties: false
    PostPage:
      type: object
      properties:
        pageId:
          description: The created page ID (external pageVariantId)
          type: string
        pageGroupId:
          description: The parent page group ID
          type: string
        tenantId:
          description: The tenant ID
          type: string
        createdAt:
          description: ISO 8601 creation timestamp
          type: string
        status:
          description: Version creation status (always 'processing' on create)
          type: string
          const: processing
      required:
        - pageId
        - pageGroupId
        - tenantId
        - createdAt
        - status
      additionalProperties: false
    PostWebhookSubscription:
      type: object
      properties:
        id:
          description: Unique subscription identifier
          type: string
        url:
          $ref: "#/components/schemas/Url"
        events:
          anyOf:
            - type: array
              items:
                type: string
                enum:
                  - page.version.created
                  - page.version.processed
                  - page.version.published
                  - form.submitted
                  - form.enriched
                  - form.enrichment_failed
            - type: "null"
        active:
          description: Whether the subscription is active
          type: boolean
        createdAt:
          $ref: "#/components/schemas/CreatedAt"
        updatedAt:
          $ref: "#/components/schemas/CreatedAt"
        signingSecret:
          description: The signing secret for the subscription
          type: string
      required:
        - id
        - url
        - events
        - active
        - createdAt
        - updatedAt
        - signingSecret
      additionalProperties: false
    UpdateWebhookSubscriptionRequest:
      type: object
      properties:
        url:
          $ref: "#/components/schemas/Url"
        events:
          type: array
          items:
            type: string
            enum:
              - page.version.created
              - page.version.processed
              - page.version.published
              - form.submitted
              - form.enriched
              - form.enrichment_failed
        active:
          type: boolean
      additionalProperties: false
    Url:
      description: The webhook endpoint URL
      type: string
      format: uri
  securitySchemes:
    apiKey:
      description: API key authentication for the External Actor Gateway
      in: header
      name: x-api-key
      type: apiKey
paths:
  /healthz:
    get:
      description: Returns service health status
      operationId: healthCheck
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetHealthz"
      summary: Health check
      security: []
  /v0/page_groups:
    get:
      description: Retrieve a list of page groups for the authenticated tenant with optional filtering and pagination
      operationId: listPageGroups
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageGroup"
      summary: List page groups
      tags:
        - Page Groups
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - in: query
          name: status
          description: status parameter
          required: false
          schema:
            type: string
  /v0/page_groups/{page_group_id}:
    get:
      description: Retrieve a specific page group by ID.
      operationId: getPageGroup
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageGroupResponse"
      summary: Get page group by ID
      tags:
        - Page Groups
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
  /v0/page_groups/{page_group_id}/pages:
    get:
      description: Retrieve a paginated list of pages within the specified page group
      operationId: listPagesInGroup
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPage"
      summary: List pages in a page group
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
        - $ref: "#/components/parameters/PageGroupIdPath"
    post:
      description: Create a new page in the page group and trigger version creation/publishing
      operationId: createPageInGroup
      responses:
        "201":
          description: PageInGroup created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPage"
      summary: Create page with version
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePageRequest"
        required: true
  /v0/page_groups/{page_group_id}/pages/{page_id}:
    get:
      description: Retrieve page details including published version information
      operationId: getPageWithVersion
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageWithVersionResponse"
      summary: Get page with published version
      tags:
        - Pages
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/page_groups/{page_group_id}/pages/{page_id}/link:
    get:
      description: Generate shareable link for a page. Fails if page version not yet published.
      operationId: getPageLink
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLink"
      summary: Get page link
      tags:
        - Pages
      parameters:
        - in: query
          name: tenantDomainId
          description: Optional tenant domain ID for custom domain. If not provided, uses fallback subdomain.
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/page_groups/{page_group_id}/pages/{page_id}/versions:
    get:
      description: Retrieve a list of versions for the specified page
      operationId: listPageVersions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVersion"
      summary: List page versions
      tags:
        - Page Versions
      parameters:
        - in: query
          name: include
          description: Comma-separated list of additional fields to include (archived)
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/LimitQuery"
        - in: query
          name: page
          description: Page number for pagination (default 1)
          required: false
          schema:
            type: number
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
  /v0/page_groups/{page_group_id}/pages/{page_id}/versions/{version_id}:
    get:
      description: Retrieve a specific version of a page with optional additional fields
      operationId: getPageVersion
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPageVersionResponse"
      summary: Get page version
      tags:
        - Page Versions
      parameters:
        - $ref: "#/components/parameters/PageGroupIdPath"
        - $ref: "#/components/parameters/PageIdPath"
        - in: path
          name: version_id
          description: version_id parameter
          required: true
          schema:
            type: string
  /v0/templates:
    get:
      description: List templates for the authenticated tenant with pagination
      operationId: listTenantTemplates
      responses:
        "200":
          $ref: "#/components/responses/GetTemplateResponse"
      summary: List tenant templates
      tags:
        - Templates
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
  /v0/templates/system:
    get:
      description: List system templates with pagination
      operationId: listSystemTemplates
      responses:
        "200":
          $ref: "#/components/responses/GetTemplateResponse"
      summary: List system templates
      tags:
        - Templates
      parameters:
        - $ref: "#/components/parameters/CursorQuery"
        - $ref: "#/components/parameters/LimitQuery"
  /v0/templates/{template_id}:
    get:
      description: Get a specific template by ID
      operationId: getTemplate
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTemplateResponse"
      summary: Get template
      tags:
        - Templates
      parameters:
        - in: path
          name: template_id
          description: template_id parameter
          required: true
          schema:
            type: string
  /v0/webhook_subscriptions:
    get:
      description: List webhook subscriptions for the authenticated tenant
      operationId: listWebhookSubscriptions
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArraySchema"
      summary: List webhook subscriptions
      tags:
        - Webhook Subscriptions
    post:
      description: Create a webhook subscription
      operationId: createWebhookSubscription
      responses:
        "201":
          description: WebhookSubscription created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostWebhookSubscription"
      summary: Create webhook subscription
      tags:
        - Webhook Subscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookSubscriptionRequest"
        required: true
  /v0/webhook_subscriptions/{subscription_id}:
    get:
      description: Get a webhook subscription by ID
      operationId: getWebhookSubscription
      responses:
        "200":
          $ref: "#/components/responses/GetWebhookSubscriptionResponseResponse"
      summary: Get webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
    patch:
      description: Update a webhook subscription by ID
      operationId: updateWebhookSubscription
      responses:
        "200":
          $ref: "#/components/responses/GetWebhookSubscriptionResponseResponse"
      summary: Update webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookSubscriptionRequest"
        required: true
    delete:
      description: Delete a webhook subscription by ID
      operationId: deleteWebhookSubscription
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteWebhookSubscriptionResponse"
      summary: Delete webhook subscription
      tags:
        - Webhook Subscriptions
      parameters:
        - $ref: "#/components/parameters/SubscriptionIdPath"
tags:
  - name: Page Groups
    description: Page group management operations
  - name: Pages
    description: Page management operations
  - name: Page Versions
    description: Page version management operations
  - name: Templates
    description: Template read-only operations
  - name: Webhook Subscriptions
    description: Webhook subscription management operations
